@{
    ViewBag.Title = "AddNew";
    Layout = null;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: "/ContractInfoMaster/ContractInfoType"
        }).done(function (data) {
            $("#ContractInfoType").empty();
            $("#ContractInfoType").append('<option value="0">--select--</option>').selectpicker('refresh');;
            $.each(data, function (i, item) {

                $("#ContractInfoType").append('<option value=' + item.ConInfoTypID + '>' + item.ConInfoTypName + '</option>').selectpicker('refresh');;
            });
        });

        

        $("#createsave").click(function () {
            $.validator.addMethod("check_item_dropdown", function (value, element) {
                return this.optional(element) || value != 0;
            }, "Please select an item from the dropdown list.");

            $("#addnewform").validate({

                rules: {
                    ContractInfoType: {
                        required: true,
                        check_item_dropdown: true,

                    },
                }
            });

            if ($("#addnewform").valid())
            {
                $.ajax({
                    url: "/ContractInfoMaster/Create",
                    data: { ConInformation: $("#ContractInfoTypename").val(), ConInfoTypID: $("#ContractInfoType").val(), ConInfoDetails: $("#ContractInfoTypeDesc").val() }

                }).done(function (data) {
                    if (data > 1) {
                        $("#AddnewModal").modal("hide");
                        List();

                        $.toast({
                            text: "Saved Successfully",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })

                    }
                    else if (data == -1) {
                        $.toast({
                            text: "Data Already Exists",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })

                    }
                    else {
                        $.toast({
                            text: "Save Failed",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })
                    }
                });
            }
           
        });

    })
</script>


<div class="modal-dialog" role="document">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Master</h4>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <form class="projectadding form-horizontal col-sm-8" id="addnewform">
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Contract Info Type</label>
                    <div class="col-sm-6 selectCat">
                        <select class="selectpicker" id="ContractInfoType" name="ContractInfoType"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="DocumentTypename" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control required" id="ContractInfoTypename" name="ContractInfoTypename">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ContractInfoTypeDesc" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ContractInfoTypeDesc" name="ContractInfoTypeDesc">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-default" id="createsave">Save</button>
                        <button type="button" class="btn btn-default greybtn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
