@{
    ViewBag.Title = "Index";
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}
<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {

        List();//List Data

        

        $(".addnew").click(function () {

            $.ajax({
                url: "/Grade/AddNew"
            }).done(function (data) {
                $("#AddnewModal").html(data);

            });
            $("#AddnewModal").modal("show");
        });
        $(document).on("click", ".btnedit", function () {
           
            $("label[for='EditDesigID']").text('');

            var desigid = $(this).attr('data-desigid');
            var dep = $(this).attr('data-depid');
            
            $("#GradeID").val($(this).attr("data-id"));
            $("#EditGradename").val($(this).attr("data-name"));
            //if ($(this).attr("data-status") == "True") {

            //    $('#active').iCheck('check')
            //}
            //else {
            //    $('#inactive').iCheck('check')
            //}


            var select1 = $("#EditDepID");
            select1.empty();
            select1.prepend('<option value=0>--Select--</option>');
            $.getJSON("/Grade/GetDepartment",
                function (response) {
                    $.each(response, function (index, itemData) {
                        select1.append($('<option/>', {
                            value: itemData.DepID,
                            text: itemData.DepName
                        }));
                        

                    });
                    

                    var select = $("#EditDesigID");
                    select.empty();
                    select.prepend('<option value=0>Designation</option>');
                    $.getJSON("/Grade/GetDesignation", { depid: dep },
                        function (response) {
                            $.each(response, function (index, itemData) {
                                select.append($('<option/>', {
                                    value: itemData.DesigID,
                                    text: itemData.DesigName
                                }));

                               
                            });
                           
                            $("#EditDepID").val(dep);
                            $("#EditDesigID").val(desigid);
                        });
                });


            

            $("#EditModal").modal("show");
        });


        $("#EditDepID").change(function () {
            var select = $("#EditDesigID");
            select.empty();
            select.prepend('<option value=0>Designation</option>');
            $.getJSON("/Grade/GetDesignation", { depid: $("#DepID").val() },
                function (response) {
                    $.each(response, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.DesigID,
                            text: itemData.DesigName
                        }));
                        
                    });

                });
        });


        $(document).on("click", ".btndelete", function () {

            $("#HIdGradeID").val($(this).attr("data-id"));
            $("#GradenameDelete").text($(this).attr("data-name"));
            $("#DeleteModal").modal("show");
        });

        $("#editsave").click(function () {
            

            $('#EditFrom').validate({
                rules: {
                    DesigID: {
                        required: true,
                        check_item_dropdown1: true
                    }
                }
                });


            $.validator.addMethod("check_item_dropdown1", function (value, element) {
                return this.optional(element) || value != 0;
            }, "Please select an item from the dropdown list.");

            if ($('#EditFrom').valid()) {

                //var status = 0;
                //if ($('#active').is(':checked')) {
                //    status = 1;
                //} else {
                //    status = 0;
                //}
                $.ajax({
                    type:"POST",
                    url: "/Grade/Edit",
                    data: $('#EditFrom').serialize()

                }).done(function (data) {
                    if (data.Result > 0) {
                        List();
                        $("#EditModal").modal("hide");
                    }
                    $.toast({
                        text:data.Message,
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    });
                });
            }
        });
        $("#deletesave").click(function () {

            $.ajax({
                type:"POST",
                url: "/Grade/Delete",
                data: { GradeID: $("#HIdGradeID").val() }

            }).done(function (data) {
                if (data.Result > 0) {
                    $("#DeleteModal").modal("hide");
                    List();
                }
                $.toast({
                    text: data.Message,
                    position: 'top-right',
                    hideAfter: 2000,
                    showHideTransition: 'slide',
                    loader: false,
                })
            });
        });

        $("#EditDesigID").change(function () {
            $(this).blur();
        });

      

    })

</script>

<script>
    function List() {
        $.ajax({
            url: "/Grade/List"
        }).done(function (data) {
            $("#Gradelist").html(data);
        });
    }


</script>

@* Heading Part *@
<section class="content-header">
    <h1>
        Grade
    </h1>
    @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Create).Select(m => m.UserPermiStatus).SingleOrDefault())
    {
        <ol class="breadcrumb">
            @*Add New buttonazd*@
            <li><a href="#a" class="addnew" data-toggle="modal"><i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        </ol>
    }

</section>
<section class="newforms">

    

    <div id="Gradelist"></div>

    <!-- Modal Add New -->
    <div class="modal fade" id="AddnewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    </div>

    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modify Grade </h4>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <form class="projectadding form-horizontal col-sm-12" id="EditFrom" novalidate>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Department</label>
                            <div class="col-sm-8">
                                <select class="form-control required" name="EditDepID" id="EditDepID" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DesigID" class="col-sm-3 control-label">Designation</label>
                                <div class="col-sm-8">
                                    <select class="form-control required" id="EditDesigID" name="DesigID"></select>
                                </div>
                            </div>
                        <div class="form-group">
                            <label for="DepName" class="col-sm-3 control-label">Grade</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control required" autocomplete="off" id="EditGradename" name="Gradename">
                                <input type="hidden" name="GradeID" id="GradeID">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-8">
                                <label>
                                    <input type="radio" name="GrdStatus" class="flat-red statusradio" id="active" value="1">
                                    Active
                                </label>
                                <label>
                                    <input type="radio" name="GrdStatus" class="flat-red statusradio" id="inactive" value="0">
                                    Disable
                                </label>
                            </div>
                        </div>*@
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-default" id="editsave">Update</button>
                    <button type="button" class="btn btn-default greybtn" id="cancelbtn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"> 
                <div class="modal-body">
                    <input type="hidden" id="HIdGradeID" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="deleteconfirm">Are you sure want to delete <span class="text-primary" id="GradenameDelete"></span>?</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="deletesave">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section> 