@{
    ViewBag.Title = "AddNew";
    Layout = null;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script type="text/javascript">

    function GetCitizenship() {
        var ddlBox = $("#CizenID");
        $.ajax({
            url: "/CandidateDocTypeMaster/GetCitizenship",
            async: false
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>');
            $.each(data, function (i, item) {
                ddlBox.append('<option value=' + item.CizenID + '>' + item.Citizen + '</option>');
            });
        });
    }

    function GetDesignation() {
        var ddlBox = $("#DesigID");
        $.ajax({
            url: "/CandidateDocTypeMaster/GetDesignation",
            async: false
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>');
            $.each(data, function (i, item) {
                ddlBox.append('<option value=' + item.DesigID + '>' + item.DesigName + '</option>');
            });
        });
    }

    function GetDocumentType() {

        var ddlBox = $("#DocTypID");
        $.ajax({
            url: "/CandidateDocTypeMaster/GetDocumentType",
            async: false
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>');
            $.each(data, function (i, item) {
                ddlBox.append('<option value=' + item.DocTypID + '>' + item.DocTypName + '</option>');
            });
        });

    }

    function GetDocumentSubType(DocumentTypeID) {
        var ddlBox = $("#DocStypID");
        $.ajax({
            url: "/CandidateDocTypeMaster/GetDocumentSubType",
            data: { DocumenTypID: DocumentTypeID },
            async: false
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>');
            $.each(data, function (i, item) {
                ddlBox.append('<option value=' + item.DocStypID + '>' + item.DocStypName + '</option>');
            });

        });

    }

    $(document).ready(function () {
        GetCitizenship();
        GetDesignation();
        GetDocumentType();
        $("#DocStypID").append('<option value="0">--Select--</option>');
        $("#DocTypID").change(function () { 
            GetDocumentSubType($(this).val());
        })
        
        $('#CizenID').change(function () {
            if ($(this).val() != 0) {
                $("label[for='CizenID']").text('');
            }
            else {
                $("label[for='CizenID']").text('Please select an item from the dropdown list.');
            }

        })
        $('#DesigID').change(function () {
            if ($(this).val() != 0) {
                $("label[for='DesigID']").text('');
            }
            else {
                $("label[for='DesigID']").text('Please select an item from the dropdown list.');
            }

        })
        $('#DocTypID').change(function () {
            if ($(this).val() != 0) {
                $("label[for='DocTypID']").text('');
            }
            else {
                $("label[for='DocTypID']").text('Please select an item from the dropdown list.');
            }

        })
        $('#DocStypID').change(function () {
            if ($(this).val() != 0) {
                $("label[for='DocStypID']").text('');
            }
            else {
                $("label[for='DocStypID']").text('Please select an item from the dropdown list.');
            }

        })

        $("#createsave").click(function () {

            $.validator.addMethod("check_item_dropdown", function (value, element) {
                return this.optional(element) || value != 0;
            }, "Please select an item from the dropdown list.");

            $("#addnewform").validate({
                rules: {
                    CizenID: {
                        required: true,
                        check_item_dropdown:true
                    },
                    DesigID: {
                        required: true,
                        check_item_dropdown: true
                    },
                    DocTypID: {
                        required: true,
                        check_item_dropdown: true
                    },
                    DocStypID: {
                        required: true,
                        check_item_dropdown: true
                    },
                }
            });

            if ($("#addnewform").valid()) {

                $.ajax({
                    type:"POST",
                    url: "/CandidateDocTypeMaster/Create",
                    data: $("#addnewform").serialize()
                }).done(function (data) {                     

                    $.toast({
                        text: data.Message,
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                    if (data.Result > 0 ) {
                        $("#AddnewModal").modal("hide");
                        List();
                    } 
                });
            }

        });
    });
</script>


<div class="modal-dialog" role="document">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Document Types</h4>
    </div>

    <div class="modal-content">
        <div class="modal-body">
            <form class="projectadding form-horizontal col-sm-12" id="addnewform">
                <div class="form-group">
                    <label for="DocumentTypename" class="col-sm-4 control-label">Citizen</label>
                    <div class="col-sm-8">
                        <select class="form-control required" id="CizenID" name="CizenID"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ContractInfoTypeDesc" class="col-sm-4 control-label">Designation</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="DesigID" name="DesigID"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ContractInfoTypeDesc" class="col-sm-4 control-label">Document Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="DocTypID" name="DocTypID"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ContractInfoTypeDesc" class="col-sm-4 control-label">Document Sub Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="DocStypID" name="DocStypID"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-default" id="createsave">Save</button>
                        <button type="button" class="btn btn-default greybtn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>

