@{
    ViewBag.Title = "Index";
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}
<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {

        List();//List Data

        $(".addnew").click(function () {
            $.ajax({
                url: "/CandidateDocTypeMaster/AddNew"
            }).done(function (data) {
                $("#AddnewModal").html(data);

            });
            //clearTextboxes()
            $("#AddnewModal").modal("show");
        });
        $(document).on("click", ".btndelete", function () {

            $("#HidValidDocTypID").val($(this).attr("data-id"));
            $("#SubtypeDelete").text($(this).attr("data-name"));
            $("#DeleteModal").modal("show");
        });
        $("#deletesave").click(function () {

            $.ajax({
                type:"POST",
                url: "/CandidateDocTypeMaster/Delete",
                data: { ValidDocTypID: $("#HidValidDocTypID").val() }

            }).done(function (data) {
                if (data > 0) {
                    $("#DeleteModal").modal("hide");
                    List();
                    $.toast({
                        text: "Deleted Successfully",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
                else {
                    $.toast({
                        text: "Deleting Failed",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
            });
        });
    })

</script>

<script>
    function List() {
        $.ajax({
            url: "/CandidateDocTypeMaster/List"
        }).done(function (data) {
            $("#CandDocTypelist").html(data);
        });
    }

</script>
 
<section class="content-header">
    <h1>
        Valid Document Types
    </h1>
@if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Create).Select(m => m.UserPermiStatus).SingleOrDefault())
{
    <ol class="breadcrumb">
        <li><a href="#a" class="addnew" data-toggle="modal"><i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol>
}
    
</section>
<section class="newforms">

    

    <div id="CandDocTypelist"></div>

</section>

<!-- Modal Add New -->
<div class="modal fade" id="AddnewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="HidValidDocTypID" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="deleteconfirm">Are you sure want to delete <span class="text-primary" id="SubtypeDelete"></span>?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deletesave">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>