@{
    ViewBag.Title = "ProjectSchedule";
    var ShcMessage = "";    
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" href="~/plugins/fullcalendar/fullcalendar.print.css" media="print">


<script src="~/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="~/XoneScripts/XoneJS/ProjectSchedule.js"></script>

<script src="~/XoneScripts/Files/Angular.js"></script>

<script type="text/javascript">
    var app = angular.module("ProjectSchApp", []);
    app.controller("ProjectSchCntrl", function ($scope, $http) {

        $.validator.addMethod("check_item_dropdown", function (value, element) {
            return this.optional(element) || value != 0;
        }, "This field is required.");

        function MsgAlert(data, icon) {
            $.toast({
                text: data,
                position: 'top-right',
                hideAfter: 2000,
                showHideTransition: 'slide',
                loader: false,
                icon: icon
            })
        }

        $scope.EmpArray = new Array();
        $scope.EmpOffDaysArray = new Array();
        $scope.AddEmp = function () {
            var addToArray = 0;
           
            if ($("#AssignShiftID").val() == 0 || $("#AssignShiftID").val() == null) {
                addToArray = 1;
                MsgAlert('Shift Field is Required', 'error');
            }
            if ($("#SchID").val() == 0 || $("#SchID").val() == null) {
                addToArray = 1;
                MsgAlert('Designation Field is Required', 'error');
            }
            if ($("#DesigID").val() == 0 || $("#DesigID").val() == null) {
                addToArray = 1;
                MsgAlert('Designation Field is Required', 'error');
            } if ($("#GradeID").val() == 0 || $("#GradeID").val() == null) {
                addToArray = 1;
                MsgAlert('Grade Field is Required', 'error');
            }
            else if ($("#EmpID").val() == 0 || $("#EmpID").val() == null) {
                addToArray = 1;
                MsgAlert('Employee Field is Required', 'error');
            }
            else {
                //  var addToArray = 0;
            }
            if (addToArray == 0) {
                for (var i = 0; i < $scope.EmpArray.length; i++) {

                    if ($scope.EmpArray[i].ShiftID == $("#AssignShiftID").val() && $scope.EmpArray[i].SchID == $("#SchID").val() && $scope.EmpArray[i].EmpID == $("#EmpID").val() && $scope.EmpArray[i].DesigID == $("#DesigID").val() && $scope.EmpArray[i].GradeID == $("#GradeID").val()) {

                        addToArray = 1;
                        MsgAlert('Data will be already Added', 'error');
                    }
                }
            }
            if (addToArray == 0) {
                var gradeempcnt = 1;

                var GradeEMpORgCount = $("#GradeID").find('option:selected').attr("data-gradeempno");
                for (var i = 0; i < $scope.EmpArray.length; i++) {

                    if ($scope.EmpArray[i].ShiftID == $("#AssignShiftID").val() && $scope.EmpArray[i].GradeID == $("#GradeID").val()) {

                        gradeempcnt += 1;
                    }
                }

                if (GradeEMpORgCount < gradeempcnt) {
                    var cnt1 = gradeempcnt - GradeEMpORgCount
                    ShcMessage = +cnt1 + ' Employee exceeded for this Grade';
                }
                else {
                    var cnt = GradeEMpORgCount - gradeempcnt;
                    //if (cnt != 0)
                    //    ShcMessage = 'Add ' + cnt + ' more employees to this grade';
                    //else
                    //    ShcMessage = "";
                    ShcMessage = 'Add ' + cnt + ' more employees to this grade';
                }

                $http({

                    method: "GET",
                    url: "/Project/CheckEmpLeaveApply",
                    params: { EmpID: $("#EmpID").val(), SchFromDate: $("#SchID").find('option:selected').attr("data-startdate"), SchEndDate: $("#SchID").find('option:selected').attr("data-enddate") }
                }).success(function (data) {
                    MsgAlert(ShcMessage, 'warning');

                    var EmpLeaveStatus = 0;
                    if (data > 0) {
                        EmpLeaveStatus = 1;
                    }
                    var OffType = 0; var FixedDay = 0; var OffStatus = 0;
                    //-----------Get Off day status
                    $http({
                        method: "GET",
                        url: "/Project/GetOffDetails",
                        params: { EmpID: $("#EmpID").val() }
                    }).success(function (details) {
                        OffType = details.RestDay_Type;
                        FixedDay = details.RestDay_Fixed; var OffStatus = 0;
                        if (OffType == 0) //If Off Optional,
                        {
                            OffStatus = $('#OffDates option:selected').length;
                            $http({
                                url: "/Project/SaveOptionalRestDays",
                                params: { EmpID: $("#EmpID").val(), EmpOFFs: $("#OffDates").val() }
                            }).success(function () { });
                        }
                        else {

                            $http({
                                method: "GET",
                                url: "/Project/GetScheduleWiseOffDayStatus",
                                params: { EmpID: $("#EmpID").val(), SchFromDate: $("#SchID").find('option:selected').attr("data-startdate"), SchEndDate: $("#SchID").find('option:selected').attr("data-enddate"), FixedDay: FixedDay }
                            }).success(function (dt) {                              
                                if (dt > 0)
                                    OffStatus = dt;
                                else
                                    OffStatus = 0;                                
                            }); 
                        } 
                        $scope.EmpArray.push({ 'Shift': $("#AssignShiftID option:selected").text(), 'ShiftID': $("#AssignShiftID").val(), 'Schedule': $("#SchID option:selected").text(), 'SchID': $("#SchID").val(), 'EmpName': $("#EmpID option:selected").text(), 'EmpID': $("#EmpID").val(), 'EmpDesigName': $("#DesigID option:selected").text(), 'DesigID': $("#DesigID").val(), 'EmpGrade': $("#GradeID option:selected").text(), 'GradeID': $("#GradeID").val(), 'EmpLeaveStatus': EmpLeaveStatus, 'SchFromDate': $("#SchID").find('option:selected').attr("data-startdate"), 'SchToDate': $("#SchID").find('option:selected').attr("data-enddate"), 'EmpOffs': $("#OffDates").val(), 'OffStatus': OffStatus });
                        ClearParams();
                    });

                    //--------------------
                    //     $scope.EmpArray.push({ 'Shift': $("#AssignShiftID option:selected").text(), 'ShiftID': $("#AssignShiftID").val(), 'Schedule': $("#SchID option:selected").text(), 'SchID': $("#SchID").val(), 'EmpName': $("#EmpID option:selected").text(), 'EmpID': $("#EmpID").val(), 'EmpDesigName': $("#DesigID option:selected").text(), 'DesigID': $("#DesigID").val(), 'EmpGrade': $("#GradeID option:selected").text(), 'GradeID': $("#GradeID").val(), 'EmpLeaveStatus': EmpLeaveStatus, 'SchFromDate': $("#SchID").find('option:selected').attr("data-startdate"), 'SchToDate': $("#SchID").find('option:selected').attr("data-enddate"), 'EmpOffs': $("#OffDates").val() });

                    // ClearParams();
                });

                $("#clickDayclick").show();

            };
        };

        $scope.removeItem = function (item) {

            if (item.PrjGrdAssignID != 0) {
                $http({
                    method: "POST",
                    url: "/Project/DeleteEmpShiftEmployeeAssign",
                    params: { ProjID: $("#HidProjID").val(), ShiftID: item.ShiftID, SchID: item.SchID, EmpID: item.EmpID, SchFromDate: item.SchFromDate, SchToDate: item.SchToDate }
                }).success(function (data) {

                    if (data == 0) {
                        $("#areyousure").modal('show');
                        $scope.removeYes = function () { // Complete with Attendance delete in yes click
                            // alert(1);
                            $http({
                                method: "POST",
                                url: "/Project/DeleteEmpShiftEmployeeAssign",
                                params: { ProjID: $("#HidProjID").val(), ShiftID: item.ShiftID, SchID: item.SchID, EmpID: item.EmpID, SchFromDate: item.SchFromDate, SchToDate: item.SchToDate, flg: 1 }
                            }).success(function (data) {
                                MsgAlert('Deleted Successfully', 'success');
                                $("#areyousure").modal('hide');
                                var index = $scope.EmpArray.indexOf(item)
                                $scope.EmpArray.splice(index, 1);

                            });
                        }
                        $scope.removeNo = function () { // Complete without Attendance delete in No click
                            // alert(1);
                            $http({
                                method: "POST",
                                url: "/Project/DeleteEmpShiftEmployeeAssign",
                                params: { ProjID: $("#HidProjID").val(), ShiftID: item.ShiftID, SchID: item.SchID, EmpID: item.EmpID, SchFromDate: item.SchFromDate, SchToDate: item.SchToDate, flg: 2 }
                            }).success(function (data) {
                                MsgAlert('Deleted Successfully', 'success');
                                $("#areyousure").modal('hide');
                                var index = $scope.EmpArray.indexOf(item)
                                $scope.EmpArray.splice(index, 1);

                            });
                        }
                    }
                    else {
                        MsgAlert('Deleted Successfully', 'success');
                        var index = $scope.EmpArray.indexOf(item)
                        $scope.EmpArray.splice(index, 1);
                    }

                });
            }

        }

        function ClearParams() {
            $('select[name=EmpID]').val(0);
            $('select[name=EmpID]').selectpicker('refresh');

            $('select[name=DesigID]').val(0);
            $('select[name=DesigID]').selectpicker('refresh');

            $('select[name=GradeID]').val(0);
            $('select[name=GradeID]').selectpicker('refresh');

            $('select[name=OffDates]').val(0);
            $('select[name=OffDates]').selectpicker('refresh');
        }

        function ClearParams1() {

            $('select[name=AssignShiftID]').val(0);
            $('select[name=AssignShiftID]').selectpicker('refresh');

            $('select[name=SchID]').val(0);
            $('select[name=SchID]').selectpicker('refresh');

            $('select[name=DesigID]').val(0);
            $('select[name=DesigID]').selectpicker('refresh');

            $('select[name=GradeID]').val(0);
            $('select[name=GradeID]').selectpicker('refresh');

            $('select[name=EmpID]').val(0);
            $('select[name=EmpID]').selectpicker('refresh');

            $("#div_offdays").hide();

        }

        function GetSchedule(ShiftID, ProjID) {

            $.ajax({
                method: "GET",
                url: "/Project/GetScheduleList",
                data: { ShiftID: ShiftID, ProjID: ProjID }
            }).done(function (data) {

                var ddlBox = $("#SchID");
                ddlBox.empty();
                $.each(data, function (i, item) {

                    ddlBox.append('<option value=' + item.SchID + '  data-startdate=' + item.StartDate + ' data-enddate= ' + item.EndDate + '>' + item.Schedule + '</option>').selectpicker('refresh');
                });

                GetGrade($("#DesigID").val(), $("#HidProjID").val(), ShiftID);
            });
        }

        $scope.BtnProjectSubmit = function () {

            if ($scope.EmpArray.length != 0) {
                var PrjScheduleList = {
                    ProjID: $("#HidProjID").val(),
                    EmployeeList: angular.toJson($scope.EmpArray)
                    //EmpOffs:angular.toJson($scope.EmpOffDaysArray)
                }

                $http({

                    url: "/Project/SaveProjectAssign",
                    dataType: 'json',
                    method: "POST",
                    data: PrjScheduleList,
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).success(function (data) {
                    MsgAlert('Data Saved Successfully', 'success');
                    $("#ProjectsSchedule").modal('hide');
                    location.reload();

                });

            } else {

                MsgAlert('Employee List is Empty', 'error');
            }

        }

        $scope.ViewLeaveEmp = function (EmpList) {
            $scope.EmployeeName = EmpList.EmpName;
            $scope.GradeName = EmpList.EmpGrade;
            $("#AbsEmpID").val(EmpList.EmpID);
            $("#ProjID").val($("#HidProjID").val());
            $("#HidOffStatus").val(EmpList.OffStatus);
            $scope.ScheduleName = EmpList.Schedule;

            $http({
                metod: "GET",
                url: "/Project/ProjectLeaveEmpDetails",
                params: { EmpID: EmpList.EmpID, SchFromDate: EmpList.SchFromDate, SchToDate: EmpList.SchToDate, GradeID: EmpList.GradeID, OffStatus: EmpList.OffStatus }
            }).success(function (data) {

                $("#RelifeEmpList").html(data);
                $("#LeaveRelifEmp").modal({ backdrop: 'static' });
                $("#LeaveRelifEmp").modal('show');
                //$("#Schedule").modal('hide');
            });
        }

        $scope.BtnScheduleSubmit = function () {
            $("#ProjectScheduefrm").validate({

                rules: {

                    ShiftID: {
                        check_item_dropdown: true,
                        required: true
                    },
                }
            });

            if ($("#ProjectScheduefrm").valid()) {

                var PrjScheduleList = {
                    ProjID: $("#HidProjID").val(),
                    ShiftID: $("#ShiftID").val(),
                    SchStartDate: $("#SchStartDate").val(),
                    SchEndDate: $("#SchEndDate").val(),
                }
                $http({

                    url: "/Project/AddNewSchedule",
                    dataType: 'json',
                    method: "POST",
                    data: PrjScheduleList,
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).success(function (data) {
                   
                    if (data > 0) {
                        $('select[name=ShiftID]').val(0);
                        $('select[name=ShiftID]').selectpicker('refresh');

                        $('select[name=AssignShiftID]').val(0);
                        $('select[name=AssignShiftID]').selectpicker('refresh');

                        $("#SchEndDate").val($("#SchStartDate").val());

                        $.ajax({
                            method: "GET",
                            url: "/Project/GetScheduleList",
                            data: { ShiftID: $("#AssignShiftID").val(), ProjID: $("#HidProjID").val() }
                        }).done(function (data) {

                            var ddlBox = $("#SchID");
                            ddlBox.empty();
                            $.each(data, function (i, item) {

                                ddlBox.append('<option value=' + item.SchID + '  data-startdate=' + item.StartDate + ' data-enddate= ' + item.EndDate + '>' + item.Schedule + '</option>').selectpicker('refresh');
                            });

                            GetGrade($("#DesigID").val(), $("#HidProjID").val(), ShiftID);

                        });
                        MsgAlert('Schedule Saved Successfully', 'success');                        

                    } else {
                        MsgAlert('Schedule Already Exist', 'success');
                    }

                });

            }
        }

        $(function () {

            var prjid = $('#HidProjID').val();
            /* initialize the external events

                -----------------------------------------------------------------*/

            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).title()) // use the element's text as the event title
                    };

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject);

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    });

                });
            }
            ini_events($('#external-events div.external-event'));

            /* initialize the   
                -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date();
            var d = date.getDate(),
                    m = date.getMonth(),
                    y = date.getFullYear();
            $('#calendar').fullCalendar({

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },

                eventMouseover: function (data, event, view) {

                    tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#feb811;position:absolute;z-index:10001;padding:10px 10px 10px 10px ;  line-height: 200%;">' + data.title + '</div>';


                    $("body").append(tooltip);
                    $(this).mouseover(function (e) {
                        $(this).css('z-index', 10000);
                        $('.tooltiptopicevent').fadeIn('500');
                        $('.tooltiptopicevent').fadeTo('10', 1.9);
                    }).mousemove(function (e) {
                        $('.tooltiptopicevent').css('top', e.pageY + 10);
                        $('.tooltiptopicevent').css('left', e.pageX + 20);
                    });


                },
                eventMouseout: function (data, event, view) {
                    $(this).css('z-index', 8);

                    $('.tooltiptopicevent').remove();

                },

                dayClick: function (date, jsEvent, view) {

                    $('select[name=ShiftID]').val(0);
                    $('select[name=ShiftID]').selectpicker('refresh');
                    $("#SchStartDate").val(date.format('DD/MM/YYYY'));
                    $("#SchEndDate").val(date.format('DD/MM/YYYY'));
                    $("#ShiftName").val("");

                    $scope.EmpArray = [];

                    $("#clickDayclick").hide();

                    $("#ProjectsSchedule").modal('show');
                },
                eventClick: function (calEvent, jsEvent, view) {

                    ClearParams1();

                    $http({
                        metod: "GET",
                        url: "/Project/GetEditProjectSchedule",
                        params: { ProjID: $('#HidProjID').val(), SchID: calEvent.schid, ShiftID: calEvent.id }
                    }).success(function (data) {
                        $scope.EmpArray = [];
                        $scope.EmpArray = data
                        $("#ProjectsSchedule").modal({ backdrop: 'static' });
                        $("#ProjectsSchedule").modal('show');
                    });

                    $('select[name=AssignShiftID]').val(calEvent.id);
                    $('select[name=AssignShiftID]').selectpicker('refresh');
                    GetSchedule(calEvent.id, $('#HidProjID').val())

                    $(this).css('border-color', 'red');
                    $("#clickDayclick").show();
                },
                //Random default events

                events: "/Project/GetCalendarEvents?ProjID=" + prjid + "",
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;
                    copiedEventObject.backgroundColor = $(this).css("background-color");
                    copiedEventObject.borderColor = $(this).css("border-color");

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                }
            });

        });

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $(document).on("click", ".schedule", function () {

            var SeID = $(this).attr('name');
            $("#EmpIDYES").attr('data-name', SeID);

            $.ajax({

                type: "POST",
                url: "/Project/ScheduleDetails",
                data: { scheduleid: SeID }
            }).done(function (data) {

                $("#ScheduleEmps").html(data);
                $("#Schedule").modal('show');
            });
        });

        $(document).on("click", ".ShiftClick", function () {

            var shiftid = $(this).attr('data-name');
            $("#EmpIDShiftYES").attr('data-name', shiftid);

            $.ajax({

                type: "POST",
                url: "/Project/SHiftDetails",
                data: { shiftid: shiftid, projectid: $("#HidProjID").val() }

            }).done(function (data) {

                $("#ShiftEmps").html(data);
                $("#Shiftdata").modal('show');
            });

        })

        $("#EmpIDYES").click(function () {
            //removeYes
            var schID = $(this).attr('data-name');
            $.ajax({

                type: "POST",
                url: "/Project/DeleteSchedule",
                data: { schID: $(this).attr('data-name') }

            }).done(function (data) {
                if (data == 0) {
                    $("#Schedule").modal('hide');
                    $("#areyousure1").modal('show');

                    $("#removeYes").click(function () {
                        //removeYes
                       // alert(1);
                        $.ajax({

                            type: "POST",
                            url: "/Project/DeleteSchedule",
                            data: { schID: schID, flg: 1 }

                        }).done(function (data) {
                            $("#areyousure1").modal('hide');
                            ListScheduleshift($("#HidProjID").val());
                            $("#Schedule").modal('hide');
                            location.reload();
                        })
                    });

                    //

                    $("#removeNo").click(function () {
                        //removeNO

                        $.ajax({

                            type: "POST",
                            url: "/Project/DeleteSchedule",
                            data: { schID: schID, flg: 2 }

                        }).done(function (data) {
                            $("#areyousure1").modal('hide');
                            ListScheduleshift($("#HidProjID").val());
                            $("#Schedule").modal('hide');
                            location.reload();
                        })
                    });
                }
                else {
                    ListScheduleshift($("#HidProjID").val());
                    $("#Schedule").modal('hide');
                    location.reload();
                }

            })
        });

        $("#EmpIDNO").click(function () {

            $("#Schedule").modal('hide');
        })

        $("#EmpIDShiftYES").click(function () {
            var shift = $(this).attr('data-name');
            $.ajax({

                type: "POST",
                url: "/Project/DeleteAllShift",
                data: { shift: $(this).attr('data-name') }

            }).done(function (data) {
                if (data == 0) {
                    $("#Shiftdata").modal('hide');
                    $("#areyousure2").modal('show');
                    $("#removeshiftYes").click(function () {
                        //removeYes
                        // alert(1);
                        $.ajax({

                            type: "POST",
                            url: "/Project/DeleteAllShift",
                            data: { shift: shift, flg: 1 }

                        }).done(function (data) {
                            $("#areyousure2").modal('hide');
                            ListScheduleshift($("#HidProjID").val());
                            $("#Shiftdata").modal('hide');
                            location.reload();
                        })
                    });

                    //

                    $("#removeshiftNo").click(function () {
                        //removeNO

                        $.ajax({

                            type: "POST",
                            url: "/Project/DeleteAllShift",
                            data: { shift: shift, flg: 2 }

                        }).done(function (data) {
                            $("#areyousure2").modal('hide');
                            ListScheduleshift($("#HidProjID").val());
                            $("#Shiftdata").modal('hide');
                            location.reload();
                        })
                    });
                }
                else {
                    ListScheduleshift($("#HidProjID").val());
                    $("#Shiftdata").modal('hide');
                }
               
            })
        });

        $("#EmpIDShiftNO").click(function () {

            $("#Shiftdata").modal('hide');
        })

        ListScheduleshift($("#HidProjID").val());

        function ListScheduleshift(projectid) {
            $.ajax({
                type: "get",
                url: "/Project/ShiftSchedule",
                data: { projectid: projectid }

            }).done(function (data) {

                $("#ShiftandSchedule").html(data);
            })
        }

        $("#div_offdays").hide();
        $("#EmpID").change(function () {

            $.ajax({
                url: "/Project/EmpOffStatus",
                data: { EmpID: $(this).val() }
            }).done(function (data) {
                if (data == 0) {
                    $("#div_offdays").show();
                    $.ajax({
                        url: "/Project/GetDates",
                        data: { StartDate: $("#SchID").find('option:selected').attr("data-startdate"), EndDate: $("#SchID").find('option:selected').attr("data-enddate") },
                    }).done(function (data) {

                        $("#OffDates").empty();
                        $("#OffDates").append('<option value="0">--Select--</option>');
                        $.each(data, function (i, item) {

                            $("#OffDates").append('<option value=' + item.Value + '>' + item.Text + '</option>').selectpicker('refresh');
                        });
                    });
                }
                else
                    $("#div_offdays").hide();
            });

        });

        $(".EditOFFs").click(function () {

            $.ajax({
                url: "/Project/GetDates",
                data: { StartDate: $("#HidStartdate").val(), EndDate: $("#HidEnddate").val() },
                async: false
            }).done(function (data) {

                $("#OffDates_Edit").empty();
                $("#OffDates_Edit").append('<option value="0">--Select--</option>');
                $.each(data, function (i, item) {

                    $("#OffDates_Edit").append('<option value=' + item.Value + '>' + item.Text + '</option>').selectpicker('refresh');
                });
            });

            //Get selected Offs
            $.ajax({
                url: "/Project/GetSavedOffDates",
                data: { EmpID: $("#AbsEmpID").val(), StartDate: $("#HidStartdate").val(), EndDate: $("#HidEnddate").val() },
                async: false
            }).done(function (data) {

                for (i = 0; i < data.length; i++) {
                    $("#OffDates_Edit option[value='" + data[i] + "']").attr("selected", 1);
                    $('#OffDates_Edit').selectpicker('refresh');
                }
            });

            $("#OFFDayEditModel").modal('show');

        });

        $("#BtnEditOFFs").click(function () {

            $.ajax({
                url: "/Project/SaveOptionalRestDays",
                data: { EmpID: $("#AbsEmpID").val(), OffDates: JSON.stringify($("#OffDates_Edit").val()) }
            }).done(function () {
                $("#OFFDayEditModel").modal('hide');
                //Reload Relief emp allocation
                $.ajax({
                    url: "/Project/ProjectLeaveEmpDetails",
                    data: { EmpID: $("#AbsEmpID").val(), SchFromDate: $("#HidStartdate").val(), SchToDate: $("#HidEnddate").val(), OffStatus: $("#HidOffStatus").val() }
                }).done(function (data) {

                    $("#RelifeEmpList").html(data);
                    $("#LeaveRelifEmp").modal('show');
                });

            });
        });

    });
</script>

<style>
    .not-active {
        pointer-events: none;
        cursor: default;
        border: 1px solid red;
    }
</style>

<input type="hidden" value="@ViewBag.projectid" id="HidProjID" />

<section class="content-header">
    <ol class="breadcrumb">
        <li></li>
    </ol>
    <h1>
        Project
        <small>@ViewBag.projectname</small>
    </h1>
    <div class="breadcrumb" style="right: 0px !important; font-size: 20px !important">
        <label>Project Duration From : </label><small>@ViewBag.ProjFromDate</small><label>&nbsp;&nbsp; To :</label>  <small>@ViewBag.ProjToDate</small>
        <li><a style="color:#87CEFA;" href="/Project/Index"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </div>
</section>

    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Shift & Schedules</h4>
            </div>
            <div class="box-body" id="ShiftandSchedule">
            </div>
        </div>
    </div>
    <div id="areyousure1" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width: 450px !Important; border-style: solid; border-color:black  !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title"><p>Attendance added for this employee in this Schedule.</p> Do you want to Remove Attendance!!</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn dark" ng-click="removeNo()" id="removeNo">NO</button>
                    <button type="button" class="btn green" ng-click="removeYes()" id="removeYes">YES</button>
                </div>
            </div>
        </div>
    </div>
    <div id="areyousure2" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width: 450px !Important; border-style: solid; border-color:black  !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title"><p>Attendance added for this employee in this Schedule.</p> Do you want to Remove Attendance!!</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn dark" ng-click="removeNo()" id="removeshiftNo">NO</button>
                    <button type="button" class="btn green" ng-click="removeYes()" id="removeshiftYes">YES</button>
                </div>
            </div>
        </div>
    </div>
    <div id="Schedule" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width: 1200px !Important; overflow: scroll !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body" id="ScheduleEmps">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark" id="EmpIDNO">NO</button>
                    <button type="button" class="btn green" id="EmpIDYES">YES</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Shiftdata" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width: 1200px !Important; overflow: scroll !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body" id="ShiftEmps">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark" id="EmpIDShiftNO">NO</button>
                    <button type="button" class="btn green" id="EmpIDShiftYES">YES</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div>

    <div ng-app="ProjectSchApp" ng-controller="ProjectSchCntrl">

        <div id="ProjectsSchedule" class="modal fade" tabindex="-1" role="dialog">

            <div class="modal-dialog" style="width: 1200px !Important; overflow: scroll !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Project Operation</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal" id="ProjectScheduefrm">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div id="ShiftCreateTab">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Create Schedule</h3>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">Shift</label>
                                            <div class="col-sm-8">
                                                <select type="text" class="table-group-action-input form-control selectpicker" name="ShiftID" id="ShiftID" data-hide-disabled="true" data-live-search="true" required></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">Schedule From</label>
                                            <div class="col-sm-8">
                                                <div class="col-sm-5" style="margin-left: -15px !important;">
                                                    <div class="bootstrap-timepicker">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control daterangepicker-single" readonly="readonly" id="SchStartDate" required name="StartDate" placeholder="From">
                                                        </div><!-- /.input group -->
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">To</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="bootstrap-timepicker">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control daterangepicker-single" readonly="readonly" id="SchEndDate" required name="EndDate" placeholder="From">
                                                        </div><!-- /.input group -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label"></label>
                                            <div class="col-sm-8">
                                                <button type="button" class="btn btn-success pull-left" id="btnProjectSubmit" ng-click="BtnScheduleSubmit()">Save Schedule &nbsp;<i class="fa fa-floppy-o"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Employee Assign</h3>
                                        @*<button type="button" class="btn btn-success pull-right" id="btnProjectSubmit" ng-click="BtnProjectSubmit()" style="margin-top:-15px !important">Save &nbsp;<i class="fa fa-floppy-o"></i></button>*@
                                    </div>

                                    <div id="ShiftCreateTab">

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Shift</label>
                                            <div class="col-sm-8">
                                                <select type="text" class="table-group-action-input form-control selectpicker" name="AssignShiftID" id="AssignShiftID" data-hide-disabled="true" data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Schedule</label>
                                            <div class="col-sm-8">
                                                <select type="text" class="table-group-action-input form-control selectpicker" name="SchID" id="SchID" data-hide-disabled="true" data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Designation</label>
                                            <div class="col-sm-8">
                                                <select type="text" class="table-group-action-input form-control selectpicker" name="DesigID" id="DesigID" data-hide-disabled="true" data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Grade</label>
                                            <div class="col-sm-8">
                                                <select type="text" class="table-group-action-input form-control selectpicker" name="GradeID" id="GradeID" data-hide-disabled="true" data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Employee</label>
                                            <div class="col-sm-8">
                                                <select class="table-group-action-input form-control selectpicker" name="EmpID" id="EmpID" data-hide-disabled="true" data-live-search="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group" id="div_offdays">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Off Days</label>
                                            <div class="col-sm-8">
                                                <select class="table-group-action-input form-control selectpicker" name="OffDates" id="OffDates" data-hide-disabled="true" multiple="multiple"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">&nbsp;</label>
                                            <div class="col-sm-8">
                                                <button type="button" class="btn btn-success" id="btnProjectSubmit" ng-click="AddEmp()">Assign To Employee<i class=""></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="col-sm-12">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box">
                                            <div class="box-header">
                                                <h3 class="box-title">Employee List</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body table-responsive no-padding">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Shift</th>
                                                            <th>Schedule</th>
                                                            <th>Designation</th>
                                                            <th>Grade</th>
                                                            <th>Name</th>
                                                            <th>Leave/OFF Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="clickDayclick">
                                                        <tr ng-repeat="EmpList in EmpArray">
                                                            <th>{{EmpList.Shift}}</th>
                                                            <th>{{EmpList.Schedule}}</th>
                                                            <td>{{EmpList.EmpDesigName}}</td>
                                                            <td>{{EmpList.EmpGrade}}</td>
                                                            <td>{{EmpList.EmpName}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-success" id="btnProjectSubmit" ng-click=ViewLeaveEmp(EmpList) ng-disabled="{{EmpList.EmpLeaveStatus == 0  && EmpList.OffStatus == 0}}">&nbsp;<i class="fa fa-fw fa-eye"></i></button>
                                                            </td>
                                                            <td>
                                                                <a href="#" ng-click="removeItem(EmpList)"><i class="fa fa-close" aria-hidden="true"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- /.box-body -->
                                        </div><!-- /.box -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success closePrjtOprtn" data-dismiss="modal" aria-label="Close" aria-hidden="true">Close &nbsp;<i class="fa fa-floppy-o"></i></button>
                        <button type="button" class="btn btn-success pull-right" id="btnProjectSubmit" ng-click="BtnProjectSubmit()">Save &nbsp;<i class="fa fa-floppy-o"></i></button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div id="LeaveRelifEmp" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="overflow: scroll !important; width:800px !important">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                        <h4 class="modal-title">Relief employees Allocation</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="ProjectSchedueLeavefrm">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box">
                                            <div class="box-header">
                                                <div class="col-xs-6">
                                                    <h3 class="box-title">Employee : {{EmployeeName}}</h3>
                                                    <input type="hidden" name="AbsEmpID" id="AbsEmpID">
                                                    <input type="hidden" name="ProjID" id="ProjID">
                                                </div>
                                                <div class="col-xs-4">
                                                    <h3 class="box-title">Grade : {{GradeName}}</h3>
                                                </div>
                                                <div class="col-xs-2" id="Div_EditOff">
                                                    <a href="#" class="text-green bio EditOFFs">Edit Off Days</a>
                                                </div>
                                            </div><!-- /.box-header -->
                                            <div id="RelifeEmpList"></div>
                                        </div><!-- /.box -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>

        <!-- Edit Off Popup -->
        <div id="OFFDayEditModel" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="width:800px !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Employee OFF Days</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="box">
                                    <div class="form-group">
                                        <h4 class="box-title">Schedule : {{ScheduleName}}</h4>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Off Days</label>
                                        <div class="col-sm-8">
                                            <select class="table-group-action-input form-control selectpicker" id="OffDates_Edit" data-hide-disabled="true" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                        </div>
                    </div>
                    <div class="modal-footer"><button type="button" class="btn btn-success pull-right" id="BtnEditOFFs">Save &nbsp;<i class="fa fa-floppy-o"></i></button></div>
                </div>
            </div>
        </div>

        <!-- Edit Off Popup -->
        <div id="areyousure" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="width: 450px !Important; border-style: solid; border-color:black  !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        <h4 class="modal-title"><p>Attendance added for this employee in this schedule.</p> Do you want to Remove Attendance!!</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn dark" ng-click="removeNo()" id="EmpIDNO">NO</button>
                        <button type="button" class="btn green" ng-click="removeYes()" id="removeFul">YES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Relifsmall" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Relief Employee Confirmation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="RelefEmpConfirmationfrm">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="box-title">Employee : <label id="Empnames"></label></h4>
                                <input type="hidden" id="Hidreliefempid" />
                                <input type="hidden" id="OldEmpOD">
                                <input type="hidden" id="HIdRowIndex">
                                <input type="hidden" id="HIdleavedate">
                                <input type="hidden" id="HidOffStatus" />
                            </div>
                            <div class="col-xs-6">
                                Employee Type : <label id="EmpTypes"></label>
                            </div>
                            <div class="col-xs-6">
                                Mobile : <label id="EmpMobs"></label>
                            </div>
                            <div class="col-xs-6">
                               Is Confirmed: <input type="checkbox" id="ReliefConfChk" name="ReliefConfChk" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark" id="ReliefEmpIDNO">NO</button>
                    <button type="button" class="btn green" id="ReliefEmpIDYES">YES</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
