@model IEnumerable<XoneHR.Models.ProjectSchedule>
@{
    ViewBag.Title = "ScheduleList";
    Layout = null;
    var status = false;
}



<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Please Select</th>
            <th>Schedule</th>

        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model)
        {

            if (item.EmpShiftStatus == null)
            {
                status = false;
            }
            else
            {
                if (item.EmpShiftStatus == true)
                {
                    status = true;
                }
                else
                {
                    status = false;
                }
                
            }
            
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        @if (status == false)
{
    <input type="checkbox" name="ScheduleID" class="Sched" value="@item.SchID">
                        }
                        else
                        {
                            <input type="checkbox" class="Sched" name="ScheduleID" value="@item.SchID" checked="checked">
                        }



                    </label>
                </div>
            </td>
            <td>@item.Schedule</td>

        </tr>
            
        }


    </tbody>
</table>


