@{
    ViewBag.Title = "Index";
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#Editform").validate();
        List();

        $(".addnew").click(function () {

            $.ajax({
                url: "/CityzenMaster/AddNew"
            }).done(function (data) {
                $("#AddnewModal").html(data); 

            });
            //clearTextboxes()
            $("#AddnewModal").modal("show");
        });

        $(document).on("click", ".btnedit", function () {
            
            $("label[for='CitizenEdit']").text('');
            //clearTextboxes()
            $("#hidCizenID").val($(this).attr("data-id"));
            $("#CitizenEdit").val($(this).attr("data-name"));
            $("#CitiZenNoname").val($(this).attr("data-Noname"));
            if ($(this).attr("data-status") == "True") {

                $('#active').iCheck('check')
            }
            else {
                $('#inactive').iCheck('check')
            }

            $("#EditModal").modal("show");
        });

        $("#editsave").click(function () {

            if ($("#Editform").valid()) {
                var status = 0;
                if ($('#active').is(':checked')) {
                    status = 1;
                } else {
                    status = 0;
                }

                $.ajax({
                    url: "/CityzenMaster/Edit",
                    data: { CizenID: $("#hidCizenID").val(), Citizen: $("#CitizenEdit").val(), CitiZenNoname: $("#CitiZenNoname").val(), status: status }

                }).done(function (data) {

                    if (data == 1) {
                        List();
                        $("#EditModal").modal("hide");
                        $.toast({
                            text: "Saved Successfully",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })
                    }
                    else if (data == -1) {
                        $.toast({
                            text: "Data Already Exists",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })

                    }
                    else {
                        $.toast({
                            text: "Save Failed",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })
                    }
                });
            }
        });

        $(document).on("click", ".btndelete", function () {

            $("#hidCizenidDdelete").val($(this).attr("data-id"));
            $("#DeleteModal").modal("show");
        });

        $("#deletesave").click(function () {

            $.ajax({
                url: "/CityzenMaster/Delete",
                data: { CizenID: $("#hidCizenidDdelete").val() }

            }).done(function (data) {
                if (data == 1) {
                    $("#DeleteModal").modal("hide");
                    List();
                    $.toast({
                        text: "Saved Successfully",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
                else {
                    $.toast({
                        text: "Save Failed",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
            });
        });
        

    });
</script>
<script>
    function List() {

        $.ajax({
            url: "/CityzenMaster/List"
        }).done(function (data) {
            $("#CityzenList").html(data);
        });
    }       
</script>

<section class="content-header">
    <h1>
        Citizenship
    </h1>
@if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Create).Select(m => m.UserPermiStatus).SingleOrDefault())
{
    <ol class="breadcrumb">
        <li><a href="" class="addnew" data-toggle="modal"><i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol>
}
    
</section>
<section class="newforms">

   

    <div id="CityzenList"></div>

    <!-- Modal Add New -->
    <div class="modal fade" id="AddnewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">      
    </div>

    <!-- Modal Edit -->
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modify Master</h4>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <form class="projectadding form-horizontal col-sm-8" id="Editform">
                        <input type="hidden" id="hidCizenID" />
                        <div class="form-group">
                            <label for="ContractInfonameEdit" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control required" id="CitizenEdit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ContractInfodescEdit" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="CitiZenNoname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-8">
                                <label>
                                    <input type="radio" name="statusradio" class="flat-red statusradio" id="active">
                                    Active
                                </label>
                                <label>
                                    <input type="radio" name="statusradio" class="flat-red statusradio" id="inactive">
                                    Disable
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-default" id="editsave">Save</button>
                                <button type="button" class="btn btn-default greybtn" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="hidden" id="hidCizenidDdelete" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="deleteconfirm">Are you sure want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="deletesave">OK</button>
                </div>
            </div>
        </div>
    </div>

</section>
