@{
    ViewBag.Title = "CandidateSelection";
}


<script type="text/javascript">


    function CandidateSelectionList() {

        $.ajax({

            type: "GET",
            url: "/Candidate/CandidateSelectionList"

        }).done(function (data) {

            $("#CandidateSelectionList").html(data);


        })
    }

    $(document).ready(function () {

        CandidateSelectionList();


    })


</script>


<section class="content-header">

    <h1>
        Candidate Selection List
    </h1>
   
</section>


<div id="CandidateSelectionList"></div>