@{
    ViewBag.Title = "EmployeeDetails";
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script src="~/XoneScripts/Pages/Layout.js"></script>

<script>
    function GetEmptype() {

        var ddlBox = $("#EmpTypID");
        $.ajax({
            url: "/Candidate/GetEmployeeType",

        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>').selectpicker('refresh');

            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.EmpTypID + '>' + item.EmpTypName + '</option>').selectpicker('refresh');;
            });
        });
    }

    function GetFundTypes() {

        var ddlBox = $("#FundType");

        $.ajax({
            url: "/Candidate/GetFundTypes",
            async: false
        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>').selectpicker('refresh');
            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.FundTypeID + '>' + item.FundType + '</option>').selectpicker('refresh');
            });

        });
    }

    function GetDay() {
        $("#Emp_SetFixOffDay").empty();
        $("#Emp_SetFixOffDay").append('<option value="-1">--Select--</option>').selectpicker('refresh');
        $("#Emp_SetFixOffDay").append('<option value=' + 0 + '>' + "Sunday" + '</option>').selectpicker('refresh');
        $("#Emp_SetFixOffDay").append('<option value=' + 6 + '>' + "Saturday" + '</option>').selectpicker('refresh');
    }

    function GetDayFixed() {
        $("#RestDay_Fixed").empty();
        $("#RestDay_Fixed").append('<option value="-1">--Select--</option>').selectpicker('refresh');
        $("#RestDay_Fixed").append('<option value="0">Sunday</option>').selectpicker('refresh');
        $("#RestDay_Fixed").append('<option value="1">Monday</option>').selectpicker('refresh');
        $("#RestDay_Fixed").append('<option value="2">Tuesday</option>').selectpicker('refresh');
        $("#RestDay_Fixed").append('<option value="3">Wenesday</option>').selectpicker('refresh');
        $("#RestDay_Fixed").append('<option value="4">Thursday</option>').selectpicker('refresh');
        $("#RestDay_Fixed").append('<option value="5">Friday</option>').selectpicker('refresh');
        $("#RestDay_Fixed").append('<option value="6">Saturday</option>').selectpicker('refresh');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        GetEmptype();
        $('#EmpTypID').change(function () {
            if ($(this).val() != 0) {
                $("label[for='EmpTypID']").text('');
            }
            else {
                $("label[for='EmpTypID']").text('Please select an item from the dropdown list.');
            }
        });
        $('#StartDate').change(function () {
            $(this).blur();
        });
        $("#div_funds").hide();
        $("#div_levy").hide();
        $("#div_Emp_PermenanentType").hide();
        if ($("#Resident_Id").val() == 1 || $("#Resident_Id").val() == 2) {
            GetFundTypes();
            $("#div_funds").show();
            $("#div_levy").hide();
        }
        else {
            $("#div_funds").hide();
            $("#div_levy").show();
        }

        $("#EmpEndDateDiv").hide();
        $("#DivPartemp").hide();
        $("#BSal_label").html("Basic Salary");

        $("#EmpTypID").change(function () {

            if ($("#EmpTypID").val() == 1) {
                $("#EmpEndDateDiv").hide();
                $("#DivPartemp").hide();
                $("#BSal_label").html("Basic Salary");
                $("#div_Emp_PermenanentType").show();
            }
            else if ($(this).val() == 2) {
                $("#DivPartemp").show();
                $("#EmpEndDateDiv").hide();
                $("#div_Emp_PermenanentType").hide();
            }
            else {
                $("#EmpEndDateDiv").show();
                $("#DivPartemp").hide();
                $("#BSal_label").html("Basic Salary");
                $("#div_Emp_PermenanentType").hide();
            }
        });

        $(".rd_PayStruct").change(function () {

            if ($("#rd_PayStruct1").is(':checked') == 1) {

                $("#BSal_label").html("Hourly Base Salary");
            }
            else if ($("#rd_PayStruct2").is(':checked') == 1) {

                $("#BSal_label").html("Daily Base Salary");
            }
            else {
                $("#EmpEndDateDiv").show();
                $("#DivPartemp").hide();
                $("#BSal_label").html("Basic Salary");
            }
        });

        $("#BasicSalary").val($("#CandSalrexpted").val());

        $("#RestFix").hide();  //$("#RestOp").show();
        GetDayFixed();
        $(".RestDayStatus").change(function () {
            if ($(this).val() == 0) {
             //   $("#RestOp").show();
                $("#RestFix").hide();
            }
            else {
              //  $("#RestOp").hide();
               // GetDay();
                $("#RestFix").show();
            }
        });
    });
</script>

<input type="hidden" value="@ViewBag.Resident_Id" id="Resident_Id" />
<input type="hidden" value="@ViewBag.CandID" id="HidCandID" name="CandID" />
<input type="hidden" value="@ViewBag.CandSalrexpted" id="CandSalrexpted" />

<form class="projectadding form-horizontal col-sm-12" action="#" id="CandConfirmationForm">   
    <div class="form-group">
        <label class="col-sm-3 control-label">Employee Code</label>
        <div class="col-sm-4">
            <span><input type="text" class="form-control required" name="EmpRegNo" id="EmpRegNo" autocomplete="off"/></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 text-left padding-0 control-label">Employment Type</label>
        <div class="col-sm-4">
            <span><select class="form-control required" name="Employeetyp" id="EmpTypID"></select></span>
        </div>
    </div>
    <div class="form-group" id="div_Emp_PermenanentType">
        <label class="col-sm-3 control-label">Working Type</label>
        <div class="col-sm-4">
            <span>
                <select class="form-control required" name="EmpSubTypeID" id="Emp_PermenanentType">
                    <option value="0">--Select--</option>
                    <option value="1">Permanent Day</option>
                    <option value="2">Permanent Night</option>
                </select>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 text-left padding-0 control-label">Employment Start date</label>
        <div class="col-sm-4">
            <span><input type="text" class="form-control daterangepicker-single required" value="" id="StartDate" name="StartDate"></span>
            
        </div>
    </div>
    <div class="form-group" id="EmpEndDateDiv">
        <label class="col-sm-3 text-left padding-0 control-label">Employment End date</label>
        <div class="col-sm-4">
            <span><input type="text" class="form-control daterangepicker-single" name="EndDate" id="EndDate"></span>
        </div>
    </div>
    <div class="form-group" id="DivPartemp">
        <label class="col-sm-3 control-label">Pay Structure</label>
        <div class="col-sm-6">
            <div class="input-group date">
                <input type="radio" id="rd_PayStruct1" class="rd_PayStruct required" name="EmpPartTime_Pay" value=1 />Hourly Rate
                <input type="radio" id="rd_PayStruct2" class="rd_PayStruct required" name="EmpPartTime_Pay" value=2 />Daily Rate
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 text-left padding-0 control-label" id="BSal_label"></label>
        <div class="col-sm-4">
            <span><input type="text" class="form-control required" name="BasicSalary" id="BasicSalary" autocomplete="off"></span>
        </div>
    </div>
   
    <div id="div_funds">
        <div class="form-group">
            <label class="col-sm-3 text-left padding-0 control-label">CPF Contribution</label>
            <div class="col-sm-4">
                <label><input type="radio" name="CPF" value="1" checked="checked"> Yes</label>
                <label><input type="radio" name="CPF" value="0"> No</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 text-left padding-0 control-label">Other Fund Types</label>
            <div class="col-sm-4">
                <span><select class="form-control required" name="FundType" id="FundType" @*multiple="multiple"*@></select></span>
            </div>
        </div>
    </div>
    <div class="form-group" id="div_levy">
        <label class="col-sm-3 text-left padding-0 control-label">Levy</label>
        <div class="col-sm-4">
            <input type="text" id="Levy" class="form-control required" name="Levy" placeholder="Levy" autocomplete="off" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Off Day Type</label>
        <div class="col-sm-4">
            <label><input type="radio" name="RestDay_Type" class="RestDayStatus" value="0" checked="checked">Optional</label>
            <label><input type="radio" name="RestDay_Type" class="RestDayStatus" value="1">Fixed</label>
        </div>
    </div>
    <div class="form-group" id="RestFix">
        <label class="col-sm-3 control-label">Off Day</label>
        <div class="col-sm-4">
            <select class="selectpicker required" name="RestDay_Fixed" id="RestDay_Fixed"></select>
        </div>
    </div>

    @*<div class="form-group" id="RestFix">
        <label class="col-sm-3 control-label">Off Day</label>
        <div class="col-sm-4">
            <span>
                <select class="selectpicker required" name="RestDay_Fixed" id="Emp_SetFixOffDay" multiple="multiple"></select>
            </span>
        </div>
    </div>*@
    <input type="hidden" name="Emp_IsApproved" value="false" />
    <label class="col-sm-3">&nbsp;</label>
    <button type="button" class="btn btn-sm btn-success" id="BtnAddEmpDetails">Save<i class="fa fa-floppy-o"></i></button>
</form>
