@model IEnumerable<XoneHR.Models.TblEmployeHistory>
@{
    ViewBag.Title = "EmployerHistoryList";
    Layout = null;
}


@foreach (var item in Model)
{

    
      @*<table class="table table-condenced">
                        <thead>
                            <tr>
                                <th>Employer</th>
                                <th>Duration</th>
                                <th>Last Salary</th>
                                
                            </tr>
                        </thead>
                        <tbody>*@
                            <tr>
                                <td>@item.EmphEmployer</td>
                                <td>@item.EmphStartDate.ToString("dd-MM-yyyy") - @item.EmphEndDate.ToString("dd-MM-yyyy")</td>
                                <td>@item.EmphSalryLast</td>
                                <td><button type="button" class="btn btn-primary RemoveEmployer" data-id=@item.EmphID ><i class="fa fa-trash"></i></button></td>
                            </tr>
                        @*</tbody>
       </table>*@
    
    
    
    

}

