@{
    ViewBag.Title = "Index";
}


<h2>Upload Excel</h2>
<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script>

    $(document).ready(function () {


        var $imagefile = $('<input />').attr({
            type: 'file',
            name: 'uploadCSV',
            class: 'clearfix'
        });

        $("#btnUpload").click(function () {

             if ($('#uploadCSV').get(0).files.length == 0) {

                $.toast({
                    text: "Please Select An Excel File",
                    position: 'top-right',
                    hideAfter: 2000,
                    showHideTransition: 'slide',
                    loader: false,
                });
            }
            else {
                $("#reqAppType").hide();
                $("#reqMTMType").hide();
                $("#reqCurrency").hide();
                $("#reqptype").hide();
                $("#reqfile").hide();

                var formData = new FormData();
                var files = $("#uploadCSV").get(0).files;

                if (files.length > 0) {
                    formData.append("HelpSectionImages", files[0]);
                }


                $.ajax({
                    type: "POST",
                    url: '/ExportExceltoDbDynamically/Import',
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    encode: true,
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (response) {
                        $.toast({
                            text: response.Message,
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,
                        });

                        $("#uploadCSV").val('');
                    },
                    error: function (er) {
                    }
                });
            }
        });
               
    });

</script>


<div class="span3">
    <div class="widget widget-heading-simple widget-body-gray" id="DivUpload">

        <br /><br />
        <div class="widget-body">
            <input type="file" name="uploadCSV" id="uploadCSV" class="clearfix" /> 
            <input type="text" name="" id="TableName" />
            <br /><br />
            <button type="button" class="btn btn-warning margin-none clearfix" id="btnUpload">Upload</button>
        </div>

    </div>
</div>



