@model IEnumerable<XoneHR.Models.LeaveDates>
@{
    ViewBag.Title = "GetLeaveDates";
    var i = 0;
}

<link href="~/jqwidgets/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
<link href="~/jqwidgets/jqwidgets/styles/jqx.metro.css" rel="stylesheet" />
<script src="~/jqwidgets/jqwidgets/jqxcore.js"></script>
<script src="~/jqwidgets/jqwidgets/jqxdata.js"></script>
<script src="~/jqwidgets/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqwidgets/jqxpanel.js"></script>
<script src="~/jqwidgets/jqwidgets/jqxtree.js"></script>
<script src="~/jqwidgets/jqwidgets/jqxcheckbox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=checkbox]').click(function () {
            // children checkboxes depend on current checkbox
            $(this).next().find('input[type=checkbox]').prop('checked', this.checked);
            // go up the hierarchy - and check/uncheck depending on number of children checked/unchecked
            $(this).parents('ul').prev('input[type=checkbox]').prop('checked', function () {
                return $(this).next().find(':checked').length;
            });
        });              

    });
</script>
<style>
    ul {
        list-style-type: none;
    }
</style>

<form class="projectadding form-horizontal col-sm-12" id="OFFBoardingReqForm" novalidate="novalidate">
    <div class="form-group">
        <ul class="tree">
            @foreach (var item in Model)
            {
                i = i + 1;
                <li>
                    <input type="checkbox" name="EmpLeaveDate" value="@item.EmpLeaveDate.ToString("dd/MM/yyyy")" />
                    <label>@item.EmpLeaveDate.ToString("dd/MM/yyyy")</label>
                </li>
            }
        </ul> 
        @if (i > 0)
        { <input type="hidden" id="NumofAppliedLeaves" value="@i" /> } 
    </div>  
    <div class="form-group">
        <button type="button" class="btn btn-default" id="ApproveBtn1">Approve</button>
        <button type="button" class="btn btn-default greybtn" id="RejectBtn1">Reject</button>
        <button type="button" class="btn btn-default greybtn" id="UnpaidBtn1">Make Unpaid</button>
    </div>
</form>