@{
    ViewBag.Title = "Index";
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script type="text/javascript">
    
    function LeaveList() {
        
        $.ajax({

            type: "GET",
            url: "/Leave/LeaveList",
            data: { EmpappStatus: $("#StatusFilterID").val() }

        }).done(function (data) {

            $("#LeaveList").html(data);           

        });
    }

    function GetLeaveEmployee(ProjID, SchID, ShiftID) {
        var ddlBox = $("#EmpID");
        $.ajax({
            url: "/Leave/GetLeaveEmployeeList",
            async: false,
            data: { ProjID: ProjID, SchID: SchID, ShiftID: ShiftID, }
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">--Select--</option>');
            $.each(data, function (i, item) {
                ddlBox.append('<option value=' + item.EmpID + '>' + item.CandName + '</option>');
            });
        });
    }

    $(document).ready(function () {

        $("#StatusFilterID").val(1);
        LeaveList();

        $("#Btnleave").click(function () {

            var Leavestats = [];

            $('.LeaveStatus').each(function () {
              
                if($(this).val() !=0)
                {
                    Leavestats.push($(this).attr('data-name'));
                    Leavestats.push($(this).val());
                } 
            });
           
            $.ajax({
                type: "POST",
                url: "/Leave/UpdateLeaveStatus",
                data: { LeaveData: JSON.stringify(Leavestats) }
            }).done(function (data) {                

                $.toast({
                    text:data.Message,
                    position: 'top-right',
                    hideAfter: 2000,
                    showHideTransition: 'slide',
                    loader: false,
                })
                if (data.Result == 1) {
                    LeaveList();
                }

            });
            
        })

        $("#StatusFilterID").change(function () {
            LeaveList();
        });

        $(document).on("change", ".LeaveStatus", function () {
            if($(this).val() == 1)
            {
                var EmpLeaveappID = $(this).attr('data-name');
                $("#HidLeaveDate1").val($(this).attr('data-HidLeaveDate1'));
                $("#HidLeaveDate2").val($(this).attr('data-HidLeaveDate2'));
                //$.ajax({
                //    url: "/Leave/GetProjectList",
                //    async: false
                //}).done(function (data) {
                //    $("#ProjID").empty();
                //    $("#ProjID").append('<option value="0">--Select--</option>');
                //    $.each(data, function (i, item) {
                //        $("#ProjID").append('<option value=' + item.ProjID + '>' + item.ProjName + '</option>');
                //    });
                //});

                //Get Employee's project,schedule,shift,etc.. details from Tbl
                $.ajax({
                    url: "/Leave/GetEmpProject",
                    data: { EmpLeaveappID: EmpLeaveappID, date: $(this).attr('data-HidLeaveDate1') }
                }).done(function (data) {
                    $("#ProjID").empty();
                    $("#ProjID").append('<option value="0">--Select--</option>');
                    $("#SchID").empty();
                    $("#SchID").append('<option value="0">--Select--</option>');
                    $("#ShiftID").empty();
                    $("#ShiftID").append('<option value="0">--Select--</option>');
                    $("#EmpID").empty();
                    $("#EmpID").append('<option value="0">--Select--</option>');
                    $("#AssignEmpID").empty();
                    $("#AssignEmpID").append('<option value="0">--Select--</option>');
                    $("#LeaveDate").empty();
                    $("#LeaveDate").append('<option value="0">--Select--</option>');
                    $("#LeaveDate").append('<option value=' + $("#HidLeaveDate1").val() + '>' + $("#HidLeaveDate2").val() + '</option>');
                    $("#LeaveDate").val($("#HidLeaveDate1").val());

                        $.each(data, function (i, item) {
                            $("#ProjID").append('<option value=' + item.ProjID + '>' + item.ProjName + '</option>');
                            $("#ProjID").val(item.ProjID);
                            $("#SchID").append('<option value=' + item.SchID + '>' + item.Schedule + '</option>');
                            $("#SchID").val(item.SchID);
                            $("#ShiftID").append('<option value=' + item.ShiftID + '>' + item.shiftName + '</option>');
                            $("#ShiftID").val(item.ShiftID);
                            $("#EmpID").append('<option value=' + item.EmpID + '>' + item.CandName + '</option>');
                            $("#EmpID").val(item.EmpID);
                            $.ajax({
                                url: "/Leave/GetAssignedEmployee",
                                data: { EmpID: $("#EmpID").val(), LeaveDate: $("#LeaveDate").val() },
                                async: false,
                            }).done(function (data) {
                                $("#AssignEmpID").empty();
                                $("#AssignEmpID").append('<option value="0">--Select--</option>');
                                $.each(data, function (i, item) {
                                    $("#AssignEmpID").append('<option value=' + item.EmpID + '>' + item.CandName + '</option>');
                                });
                            });
                        });  
                });


                $("#AbsenceAllocationModal").modal('show');
            }
            else
            {
                $("#AbsenceAllocationModal").modal('hide');
            }
        });
       
        //--------------Absence allocation popup
               
        $("#ProjID").change(function () {

            $.ajax({
                url: "/Leave/GetScheduleList",
                async: false,
                data: { ProjID: $(this).val() }
            }).done(function (data) {
                $("#SchID").empty();
                $("#SchID").append('<option value="0">--Select--</option>');
                $.each(data, function (i, item) {
                    $("#SchID").append('<option value=' + item.SchID + '>' + item.Schedule + '</option>');
                });
            });

            $.ajax({
                url: "/Leave/GetShiftList",
                async: false,
                data: { ProjID: $(this).val() }
            }).done(function (data) {
                $("#ShiftID").empty();
                $("#ShiftID").append('<option value="0">--Select--</option>');
                $.each(data, function (i, item) {
                    $("#ShiftID").append('<option value=' + item.ShiftID + '>' + item.ShiftName + '</option>');
                });
            });
            
            $("#EmpID").empty();
            $("#EmpID").append('<option value="0">--Select--</option>');
            
            $('#table').empty();                   

        })

        $("#SchID").change(function () {

            if ($("#ShiftID").val() != 0) {
                GetLeaveEmployee($("#ProjID").val(), $("#SchID").val(), $("#ShiftID").val());
                $('#table').empty();
            }
        });

        $("#ShiftID").change(function () {

            if ($("#SchID").val() != 0) {
                GetLeaveEmployee($("#ProjID").val(), $("#SchID").val(), $("#ShiftID").val());
                $('#table').empty();
            }
        });

        $("#EmpID").change(function () {

            $("#LeaveDate").empty();
            $("#LeaveDate").append('<option value="0">--Select--</option>');
            $("#LeaveDate").append('<option value=' + $("#HidLeaveDate1").val() + '>' + $("#HidLeaveDate2").val() + '</option>');
            $("#LeaveDate").val($("#HidLeaveDate1").val());

            $.ajax({
                url: "/Leave/GetAssignedEmployee",
                data: { EmpID: $("#EmpID").val(), LeaveDate: $("#LeaveDate").val() },
                async: false,
            }).done(function (data) {
                $("#AssignEmpID").empty();
                $("#AssignEmpID").append('<option value="0">--Select--</option>');
                $.each(data, function (i, item) {
                    $("#AssignEmpID").append('<option value=' + item.EmpID + '>' + item.CandName + '</option>');
                });
            });
        });

        //$("#LeaveDate").change(function () {                        
        //});

        $("#AddAssignedDate").click(function () {
            var temp = 0;
            var flag = 0;
            if ($("#AssignEmpID").val() == 0 || $("#AssignEmpID").val() == null) {
                temp = 1;
                flag = 1;
            } else if ($("#LeaveDate").val() == 0 || $("#LeaveDate").val() == null) {
                temp = 1;
                flag = 1;
            }
            else {

            }

            $('#table tr').each(function () {
                //if ($(this).find(".AbsallEmpID").val() == $("#AssignEmpID").val()) {
                //    temp = 1;
                //} else
                if ($(this).find(".EmpLeaveDate").val() == $("#LeaveDate").val()) {
                    temp = 1;
                }

            });
            if (temp == 0) {
                $.ajax({
                    type: "Get",
                    url: "/Leave/CheckingAbsenceAssignedEmp",
                    data: { AbsallEmpID: $("#AssignEmpID").val(), LeaveDate: $("#LeaveDate").val(), ProjID: $("#ProjID").val(), SchID: $("#SchID").val(), ShiftID: $("#ShiftID").val() }
                }).done(function (data) {
                    if (data == 0) {
                        $('#table').append('<tr><td>' + $("#AssignEmpID option:selected").text() + ' <input type="hidden" class="AbsallEmpID" value=' + $("#AssignEmpID").val() + ' name="AbsallEmpID" /> </td><td>' + $("#LeaveDate").val() + '<input type="Hidden" value=' + $("#LeaveDate").val() + ' class="EmpLeaveDate" name="EmpLeaveDate" /> </td><td><input type="button" class="fa fa-plus RemoveAssignedDate" value="-" /></td></tr>');
                        $("#AssignEmpID").val(0);
                        $("#LeaveDate").val(0);

                    }
                    else {
                        $.toast({
                            text: 'Already Assigned',
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                    }
                })

            }
            else {
                if (flag == 1) {
                    $.toast({
                        text: 'Please Select a Valid Field',
                        position: 'top-right',
                        hideAfter: 3000,
                        showHideTransition: 'slide',
                        loader: false,
                    })

                } else {
                    $.toast({
                        text: 'Already Added in Same Date',
                        position: 'top-right',
                        hideAfter: 3000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                }
            }

        })

        $(document).on("click", ".RemoveAssignedDate", function () {
            $(this).closest('tr').remove();
        });

        $("#EmpAllocationBtn").click(function () {
            $("#LeavetypID").val($("#LeavetypIDs").val());
           
            $.ajax({
                type: "POST",
                url: "/Leave/UpdateLeaveStatus_EmpAssignment",
                data: $("#ScheduleAssignment").serialize()
            }).done(function (data) {
               
                $.toast({
                    text: data.Message,
                    position: 'top-right',
                    hideAfter: 3000,
                    showHideTransition: 'slide',
                    loader: false,
                })
                if (data.Result > 0) {
                    location.reload();
                }
            });
        });
            
        //-----------------------
        
    })


</script>

<style>
    .absencemodel{
        width: 100%
    }
</style>

<input type="hidden" id="HidLeaveDate1"/>
<input type="hidden" id="HidLeaveDate2" />

<section class="content-header">
    <h1>
        <i class="fa fa-building"></i>&nbsp; Employee Leaves
    </h1>
    @*@if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.ApproveLeave).Select(m => m.UserPermiStatus).SingleOrDefault())
    {*@
        <ol class="breadcrumb" style="margin-right: 33px !important;">
            <li><a href="#a" id="Btnleave" class="btn btn-sm btn-success"><i class="fa fa-floppy-o"></i></a></li>
        </ol>
    @*}*@  
</section>

<div class="p-l-15 p-r-15 p-t-15">
    <select aria-controls="example1" class="form-control" id="StatusFilterID">
        <option value="0">All</option>
        <option value="1">Pending</option>
        <option value="2">Approved</option>
        <option value="3">Rejected</option>
    </select>
</div>

<div id="LeaveList"></div>

<div id="AbsenceAllocationModal" class="modal fade absencemodel" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Employee Absence Allocation </h4>                
            </div>
            <div class="modal-body">
                <form class="projectadding form-horizontal" action="#" id="ScheduleAssignment">

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Project</label>
                                <div class="col-sm-6">
                                    <select class="form-control required" name="ProjID" id="ProjID"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Schedule</label>
                                <div class="col-sm-6">
                                    <select class="form-control required" name="SchID" id="SchID"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Shift</label>
                                <div class="col-sm-6">
                                    <select class="form-control required" name="ShiftID" id="ShiftID"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Employee</label>
                                <div class="col-sm-6">
                                    <select class="form-control required" name="EmpID" id="EmpID"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Assigned Date</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="LeaveDate" id="LeaveDate"></select>                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Assigned Employee</label>
                                <div class="col-sm-6">
                                    <select class="form-control " name="AssignEmpID" id="AssignEmpID"></select>                                    
                                </div>
                            </div>  
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="button" class="fa fa-plus" id="EmpAllocationBtn" value="Allocate" />           
                                </div>
                            </div>                                       
                        </div>
                    </div>                                     
                    <input type="hidden" id="LeavetypID" name="LeavetypID" />
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>