@{
    ViewBag.Title = "LeaveRequestMain";
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script>
    function GetSearchEmps() {

        $("#searchemp").empty();
        $("#searchemp").append('<option value=0>SEARCH Employee</option>');
        $.ajax({
            type: "POST",
            url: "/Leave/GetEmployees"
        }).done(function (data) {
            $.each(data, function (i, item) {
                $("#searchemp").append('<option value=' + item.EmpID + '>' + item.CandName + '</option>');
            });
        });
    }

    function GetLeaveType(EmpID) {

        var ddlBox = $("#ddlLeaveType");
        $.ajax({
            url: "/Leave/GetLeaveType",
            data: { EmpID: EmpID },
            async: false,
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">Select</option>').selectpicker('refresh');

            $.each(data, function (i, item) {
                var text;
              //  text = item.LeaveType + " (" + item.LeavesText + "  remaining)";
                ddlBox.append('<option value=' + item.LeavetypID + '>' + item.LeaveType + '</option>').selectpicker('refresh');
            });
            //ddlBox.append('<option value=' + 9 + '>' + "OFF Day" + '</option>').selectpicker('refresh');
        });
    }

    function GetLeaveType2(EmpID) {

        var ddlBox = $("#ddlLeaveType2");
        $.ajax({
            url: "/Leave/GetLeaveType",
            data: { EmpID: EmpID },
            async: false,
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">Select</option>').selectpicker('refresh');

            $.each(data, function (i, item) {
                var text;
                if (item.LeavetypID != 7)
                {
                    text = item.LeaveType + " (" + item.LeavesText + "  remaining) ";
                    ddlBox.append('<option value=' + item.LeavetypID + '>' + text + '</option>').selectpicker('refresh');
                }
                else {
                    ddlBox.append('<option value=' + item.LeavetypID + '>' + item.LeaveType + '</option>').selectpicker('refresh');
                }
            });
            //ddlBox.append('<option value=' + 9 + '>' + "OFF Day" + '</option>').selectpicker('refresh');
            $("#ddlLeaveType2").val($(".leavetype").val());
            $("#ddlLeaveType2").selectpicker('refresh');
        });
    }

    //function GetProject() {

    //    var ddlBox = $("#ddlProject");
    //    $.ajax({
    //        url: "/Leave/GetProjectList",
    //        async: false,
    //        data: { flag: 1 }
    //    }).done(function (data) {
    //        ddlBox.empty();
    //        ddlBox.append('<option value="0">Not Assigned Any Projects</option>').selectpicker('refresh');
    //        $.each(data, function (i, item) {
    //            ddlBox.append('<option value=' + item.ProjID + '>' + item.ProjName + '</option>').selectpicker('refresh');
    //        });
    //    });
    //}

    function GetDayType() {

        var ddlBox = $("#ddldayType");
        $.ajax({

            url: "/Leave/GetDayType",
            async: false
        }).done(function (data) {
            ddlBox.empty();
            ddlBox.append('<option value="0">Select</option>').selectpicker('refresh');

            $.each(data, function (i, item) {
                ddlBox.append('<option value=' + item.DayTypID + '>' + item.DayType + '</option>').selectpicker('refresh');
            });
        });
    }

    function LeaveList() {

        $.ajax({

            type: "GET",
            url: "/Leave/LeaveList",
            data: { EmpappStatus: 0 }
        }).done(function (data) {
            $("#ListRequests").html(data);
        });
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {

        GetSearchEmps();
        LeaveList();
        $('#EmpLeaveDate').datetimepicker();
        $('#EmpLeavetodate').datetimepicker();
        $("#LeaveReqBtn").click(function () {
            $("#shedule").hide();
            GetLeaveType($("#searchemp").val());
          //  GetProject();
            GetDayType();            
            if ($("#searchemp").val() != 0)
            {
                $.ajax({
                    type: "POST",
                    url: "/Leave/GetEmpName",
                    data: { EmpID: $("#searchemp").val() }
                }).done(function (data) {
                    $("#empnamelabel").html(data);
                });
                $("#LeaveReqModal").modal('show');
            }            
        });


        //$("#ddlProject").change(function () {
        //    if ($(this).val() != 0)
        //        $("#shedule").show();
        //    else
        //        $("#shedule").hide();

        //    var ddlBox = $("#ddlShedules");
        //    $.ajax({
        //        url: "/Leave/GetScheduleList",
        //        data: { ProjID: $(this).val() }
        //    }).done(function (data) {
        //        ddlBox.empty();
        //        ddlBox.append('<option value="0">--Select--</option>').selectpicker('refresh');
        //        $.each(data, function (i, item) {
        //            ddlBox.append('<option value=' + item.SchID + '>' + item.Schedule + '</option>').selectpicker('refresh');
        //        });
        //    });
        //});
        //$("#ddlShedules").change(function () {

        //    $.ajax({
        //        url: "/Leave/GetScheduleDates",
        //        data: { SchID: $(this).val() }
        //    }).done(function (data) {

        //        var start = new Date(parseInt(data.StartDate.substr(6)));
        //        var end = new Date(parseInt(data.EndDate.substr(6)));
        //        var currentDate = new Date(start);
        //        while (currentDate <= end) {
        //            between.push(new Date(currentDate));
        //            currentDate.setDate(currentDate.getDate() + 1);
        //        }
        //        $('#EmpLeaveDate').data('DateTimePicker').destroy();
        //        $('#EmpLeavetodate').data('DateTimePicker').destroy();

        //        $('.leavepicker').datetimepicker({

        //            enabledDates: between,
        //            format: $("#HidDateFormat").val()
        //        });

        //        $('.leavepickertwo').datetimepicker({

        //            enabledDates: between,
        //            format: $("#HidDateFormat").val()
        //        });
        //    });
        //});

        $('#empStartenddate').change(function () {
            $("label[for='empStartenddate']").text('');
        })
        $("#ddlLeaveType").change(function () {
            $("#EmpLeaveDate").val("");
            $("#EmpLeavetodate").val("");
            $('select[name=DayTypID]').val(0);
            $('select[name=DayTypID]').selectpicker('refresh');
        });
        $('#ddlLeaveType').change(function () {
            if ($(this).val() != 0) {
                $("label[for='ddlLeaveType']").text('');
            }
            else {
                $("label[for='ddlLeaveType']").text('Please select an item from the dropdown list.');
            }
        })
        $('#ddldayType').change(function () {
            if ($(this).val() != 0) {
                $("label[for='ddldayType']").text('');
            }
            else {
                $("label[for='ddldayType']").text('Please select an item from the dropdown list.');
            }
        })
        $("#btnleaveapp").click(function () {

            $("#empid").val($("#searchemp").val());
            $.validator.addMethod("check_item_dropdown", function (value, element) {
                return this.optional(element) || value != 0;
            }, "Please select an item from the dropdown list.");

            $("#LeaveAppForm").validate({
                rules: {
                    LeavetypID: {
                        check_item_dropdown: true,
                        required: true,
                    },
                    DayTypID: {
                        check_item_dropdown: true,
                        required: true,
                    },
                    //empStartenddate: {
                    //    required: true
                    //}
                    EmpLeaveDate: {
                        required: true,
                    },
                    EmpLeavetodate: {
                        required:true
                    }
                }
            });
            if ($("#LeaveAppForm").valid()) {

                //var FileUpload = null;
                //var totalFiles = document.getElementById("newdoc").files.length;
                //if (totalFiles > 0)
                //{
                //    var file = document.getElementById("newdoc").files[0];
                //    FileUpload = file;
                //}

                $.ajax({
                    type: "POST",
                    url: "/Leave/AddnewleaveApplication",
                    data: $("#LeaveAppForm").serialize()  //+ "&FileUpload=" + FileUpload
                }).done(function (data) {

                    if (data.OutputID == 1) {

                        if (data.PendingDays == 0) {
                            $.toast({

                                text: "Leave Applied Successfully",
                                position: 'top-right',
                                hideAfter: 3000,
                                showHideTransition: 'slide',
                                loader: false,
                            })

                            $('select[name=LeavetypID]').val(0);
                            $('select[name=LeavetypID]').selectpicker('refresh');
                            $("#EmpLeaveDate").val("");
                            $("#EmpLeavetodate").val("");
                            $('select[name=DayTypID]').val(0);
                            $('select[name=DayTypID]').selectpicker('refresh');
                            $("#empStartenddate").val("");
                            window.location.href = "/Leave/LeaveRequestMain";
                        }
                        else {
                            $.toast({

                                text: " " + data.PendingDays + "more leaves applied than eligibility",
                                position: 'top-right',
                                hideAfter: 4000,
                                showHideTransition: 'slide',
                                loader: false,
                            })
                            window.location.href = "/Leave/LeaveRequestMain";
                        }

                    }
                    else if (data.OutputID == 2) {
                        $.toast({

                            text: "Leave not allowed",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })

                        //$('select[name=LeavetypID]').val(0);
                        //$('select[name=LeavetypID]').selectpicker('refresh');
                        //$("#EmpLeaveDate").val("");
                        //$("#EmpLeavetodate").val("");
                        //$('select[name=DayTypID]').val(0);
                        //$('select[name=DayTypID]').selectpicker('refresh');

                        //$('select[name=ProjectID]').val(0);
                        //$('select[name=ProjectID]').selectpicker('refresh');
                        //$("#empStartenddate").val("");
                    }
                    else {
                        $.toast({

                            text: "Application Error Please Contact Administrator!",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                    }
                });
            }
        });

        $(document).on("click", ".BtnApprove", function () {
            $("#LeaveApprovalModal").modal('show');
            var empid=$(this).attr("data-empid");
            var leavetypeid=$(this).attr("data-leavetypeid");
            $(".empid").val(empid);
            $(".leavetype").val(leavetypeid);
            $(".LeaveType_html").html($(this).attr("data-leavetype"));
            $(".Employee_html").html($(this).attr("data-empname"));
            $(".EmpDate_html").html($(this).attr("data-empdate"));          
           
            $.ajax({
                type: "POST",
                url: "/Leave/EmployeeLeaves",
                data: { EmpID: empid, leavetypeid: leavetypeid },
                async:false
            }).done(function (data) {                
                $("#Leavedetails").html(data);
            });

            $.ajax({
                type: "POST",
                url: "/Leave/GetLeaveDates",
                data: { EmpID: empid, TypeId: leavetypeid },
                async:false
            }).done(function (data) {
                $("#empleavedates").html(data);
                $("#AppliedLeavesHtml").html("Applied Leaves: "+$("#NumofAppliedLeaves").val());
                $("#AvailableLeavesHtml").html("AvailableLeaves: "+$("#AvailableLeaves").val());
            });
            if ($(this).attr("data-status") == 2) {
                $("#RejectBtn1").hide();
                //if (leavetypeid != 7)
                $("#UnpaidBtn1").show();
            }
            else {
                $("#RejectBtn1").show();
                $("#UnpaidBtn1").hide();
            }
        });

        $(document).on("click", "#ApproveBtn1", function () {
               
            var parent = [];
            $('input[name="EmpLeaveDate"]:checked').each(function () {
                parent.push($(this).val());
            }); 
            if(parent != null || parent != "")
            {
                $.ajax({
                    url: "/Leave/ApproveLeaveStatus",
                    data: {
                        Date: JSON.stringify(parent),
                        EmpID: $(".empid").val(),
                        LeavetypID: $(".leavetype").val(),
                        Status:1
                    }
                }).done(function (data) {
                    $.toast({
                        text: data.Message,
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                    if (data.Result == 1) {
                        window.location.href = "/Leave/LeaveRequestMain"
                    }                    
                });
            }

            //$.ajax({
            //    type: "POST",
            //    url: "Leave/ApproveLeaveStatus",
            //}).done(function (data) {
               
            //});
        });
        $(document).on("click", "#RejectBtn1", function () {
            //$("#ApproveBtn").click(function () {           
            var parent = [];
            $('input[name="EmpLeaveDate"]:checked').each(function () {
                parent.push($(this).val());
            });
            if (parent != null || parent != "") {
                $.ajax({
                    url: "/Leave/ApproveLeaveStatus",
                    data: {
                        Date: JSON.stringify(parent),
                        EmpID: $(".empid").val(),
                        LeavetypID: $(".leavetype").val(),
                        Status: 2
                    }
                }).done(function (data) {
                    $.toast({
                        text: data.Message,
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                    if (data.Result == 1) {
                        window.location.href = "/Leave/LeaveRequestMain"
                    }
                });
            }

            //$.ajax({
            //    type: "POST",
            //    url: "Leave/ApproveLeaveStatus",
            //}).done(function (data) {

            //});
        });                
        $(document).on("click", ".BtnAuthorize", function () {
            if ($(this).attr("data-EmpappStatus") == 3)
            {
                $("#ApproveBtn2").hide();                
            }
            else
            {
                $("#ApproveBtn2").show();
            }
            $("#LeaveAuthorizeModal").modal('show');
            var empid = $(this).attr("data-empid");
            var leavetypeid = $(this).attr("data-leavetypeid");
            $(".empid").val(empid);
            $(".leavetype").val(leavetypeid);
            $(".LeaveType_html").html($(this).attr("data-leavetype"));
            $(".Employee_html").html($(this).attr("data-empname"));
            $(".EmpDate_html").html($(this).attr("data-empdate"));
            $("#DayTypeId").val($(this).attr("data-DayType"));
            GetLeaveType2(empid); 
            //$("#ddlLeaveType2").val(leavetypeid);            

            $.ajax({
                type: "POST",
                url: "/Leave/EmployeeLeaves",
                data: { EmpID: empid },
                async: false
            }).done(function (data) {
                $("#Leavedetails2").html(data);
            });
        });
        $(document).on("click", ".BtnCancel", function () {
            $("#CancelModal").modal('show');
            $(".EmpLeaveappID").val($(this).attr('data-name'));
            $(".Cancel_Leavetypeid").val($(this).attr('data-leavetypeid'));
            $(".Cancel_empid").val($(this).attr('data-empid'));
            $(".Cancel_Date").val($(this).attr('data-empdate'));
        });
        $("#Cancelbtn").click(function () {
            $.ajax({
                type: "POST",
                url: "/Leave/CancelLeave",
                data: { EmpLeaveappID: $(".EmpLeaveappID").val(), LeavetypID: $(".Cancel_Leavetypeid").val(), EmpID: $(".Cancel_empid").val(), Date: $(".Cancel_Date").val() }
            }).done(function (data) {
                window.location.href = "/Leave/LeaveRequestMain";
            });
        }); 
        $(document).on("click", "#ApproveBtn2", function () {           
            $.ajax({
                url: "/Leave/AuthorizeStatusUnpaid",
                data: { EmpID: $(".empid").val(), LeavetypID: $("#ddlLeaveType2").val(), ApprovdLeavetype: $(".leavetype").val(), status: 1, Date: $(".EmpDate_html").html(), DayTypID: $("#DayTypeId").val() }
            }).done(function (data) {

                if (data == 1)
                {
                    $.toast({
                        text: "Leave Authorized",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                    window.location.href = "/Leave/LeaveRequestMain"
                }
                else {
                    $.toast({
                        text: "This Leave Cannot Authorize",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                } 
            });
        });
        $("#RejectBtn2").click(function () {
            $("#UnpaidCnfrmModal").modal('show');
        });
        $("#MakeUnpaidbtn").click(function () {
            $.ajax({
                url: "/Leave/UpdateAuthorizeStatus",
                data: { EmpID: $(".empid").val(), LeavetypID: 7, ApprovdLeavetype: $(".leavetype").val(), status: 2, Date: $(".EmpDate_html").html(), DayTypID: $("#DayTypeId").val() }
            }).done(function () {
                window.location.href = "/Leave/LeaveRequestMain";
            })
        })  ;
        $(".close").click(function () {
            window.location.href = "/Leave/LeaveRequestMain";
        });
        $(document).on("click", "#UnpaidBtn1", function () {
            $("#UnpaidApproveModal").modal('show');
        });
        $("#MakeUnpaidbtnApprove").click(function () {
            var parent = [];
            $('input[name="EmpLeaveDate"]:checked').each(function () {
                parent.push($(this).val());
            });
            if (parent != null || parent != "") {
                $.ajax({
                    url: "/Leave/UnpaidApproveLeave",
                    data: {
                        Date: JSON.stringify(parent),
                        EmpID: $(".empid").val(),
                        LeavetypID: $(".leavetype").val()
                    }
                }).done(function (data) {
                    $.toast({
                        text: data.Message,
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,
                    })
                    if (data.Result == 1) {
                        window.location.href = "/Leave/LeaveRequestMain"
                    }
                });
            }
        });
       

    });
</script>

<style>
    .AvlilableLeaves {
    width: 200%;
    max-width: 200%;
    margin-bottom: 20px;
}
</style>

<section class="content-header">
    <h1>
        Leave Management
    </h1>
    <ol class="breadcrumb">
        <li><a href="/DashBoard/DashBoard"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol>
</section>

<section class="newforms">
    <div class="col-lg-12">
        <div class="col-lg-4">
            <select id="searchemp" class="form-control"></select>
        </div>
        <div class="col-lg-4">
            <button id="LeaveReqBtn">REQUEST LEAVE...</button>
        </div>
    </div>
    <hr />

    <div class="modal fade" id="LeaveReqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="LeaveRequest">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Leave Request:</h4><h5 id="empnamelabel"></h5>
            </div>
            <div class="modal-content">
                <form class="projectadding form-horizontal col-sm-8" id="LeaveAppForm" action="#">
                    <input type="hidden" name="EmpID" id="empid"/>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Leave type</label>
                        <div class="col-sm-8">
                            <select class="selectpicker required" name="LeavetypID" id="ddlLeaveType"></select>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Project</label>
                        <div class="col-sm-8">
                            <select class="selectpicker" name="ProjectID" id="ddlProject"></select>
                        </div>
                    </div>
                    <div class="form-group" id="shedule">
                        <label for="inputEmail3" class="col-sm-4 control-label">Shedule</label>
                        <div class="col-sm-8">
                            <select class="selectpicker" name="SchID" id="ddlShedules"></select>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">From</label>
                        <div class="col-sm-4 input-group">
                            <input type="text" class="form-control leavepicker" name="EmpLeaveDate" id="EmpLeaveDate" placeholder="From">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">To</label>
                        <div class="col-sm-4 input-group">
                            <input type="text" class="form-control leavepickertwo" name="EmpLeavetodate" id="EmpLeavetodate" placeholder="To">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">DayType</label>
                        <div class="col-sm-8">
                            <select class="selectpicker required" name="DayTypID" id="ddldayType"></select>
                        </div>                        
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Upload Document</label>
                        <div class="col-xs-3">
                            <label for="newdoc" class="btn btn-block btn-default">Choose File &nbsp;(Eg: Medical Certificate)</label>
                            <input type="file" id="newdoc" name="LeaveDoc[]" class="hidden"> 
                        </div>
                    </div>                    
                    <div class="col-xs-12">
                        <label for="inputEmail3" class="col-sm-4 control-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-success" id="btnleaveapp">Save</button>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div> 

    <div id="ListRequests"></div>

    <div class="modal fade" id="LeaveApprovalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="LeaveApproval">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Approve Leave</h3><br />
                <h4 class="modal-title">
                    <b>Employe</b> &nbsp;: &nbsp;<span class="Employee_html"></span><br />
                    <b>Leave type</b> &nbsp;: &nbsp;<span class="LeaveType_html"></span>
                </h4>
            </div>
            <div class="modal-content">   
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div id="RemaingleavesList" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                @*class="panel-title"*@
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#listleaves" aria-expanded="false" aria-controls="collapseOne">
                                    Leave Dates  
                                </a>  
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="listleaves">
                            <div class="panel-body">
                                @*&nbsp;&nbsp;(<span style="color:red" id="AppliedLeavesHtml"> </span>*@
                                (&nbsp;&nbsp;<span style="color:red" id="AvailableLeavesHtml"></span>&nbsp;&nbsp;)
                                <div id="empleavedates">
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                @*class="panel-title"*@
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#listtbl" aria-expanded="false" aria-controls="collapseOne">
                                    Leave Details
                                </a>
                            </h4>                            
                        </div>
                        <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="listtbl">
                            <div class="panel-body">
                                <div class="selectemployee">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Leave type</th>
                                                <th>Eligibility</th>
                                                <th>Earned</th>
                                                <th>Leaves Taken</th>
                                                <th>Available Leaves</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Leavedetails"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>             
                <form class="projectadding form-horizontal col-sm-6" id="LeaveAppForm" action="#">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label"></label>
                        @*<div class="col-sm-8">
                            <button type="button" class="btn btn-default" id="ApproveBtn">Approve</button>
                            <button type="button" class="btn btn-default greybtn" data-dismiss="modal">Reject</button>
                        </div>*@
                    </div>
                </form>
                
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LeaveAuthorizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="LeaveApproval">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Authorize Leave</h3><br />
                <h4 class="modal-title">
                    <b>Employe</b> &nbsp;: &nbsp;<span class="Employee_html"></span><br />
                    @*<b>Leave type</b> &nbsp;: &nbsp;<span class="LeaveType_html"></span>*@
                    <b>Leave Date</b> &nbsp;: &nbsp;<span class="EmpDate_html"></span>
                    <input type="hidden" id="DayTypeId" />
                </h4>
            </div>
            
            <div class="modal-content">                
                <form class="col-sm-12" id="" action="#">                    
                    <div class="form-group col-sm-12">
                        <label for="inputEmail3" class="col-sm-3 control-label">Leave type</label>
                        <select class="selectpicker required col-sm-5" name="LeavetypID" id="ddlLeaveType2"></select>
                        <button type="button" class="btn btn-default" id="ApproveBtn2">Approve</button>
                        <button type="button" class="btn btn-default greybtn" id="RejectBtn2">Make as Unpaid</button>                        
                    </div>
                </form>            

                <br /><br /><br /><br />
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div id="RemaingleavesList" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                @*class="panel-title"*@
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#listtbl2" aria-expanded="false" aria-controls="collapseOne">
                                    Leave Details
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="listtbl2">
                            <div class="panel-body">
                                <div class="selectemployee">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Leave type</th>
                                                <th>Eligibility</th>
                                                <th>Earned </th>
                                                <th>Leaves Taken</th>
                                                <th>Available</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Leavedetails2"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="deleteconfirm">Are you sure, You want to cancel?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="Cancelbtn">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Model Make Upaid Confirm-->
    <div class="modal fade" id="UnpaidCnfrmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="deleteconfirm">Are you sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="MakeUnpaidbtn">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Model Make Upaid Confirm-->
    <div class="modal fade" id="UnpaidApproveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="deleteconfirm">Are you sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="MakeUnpaidbtnApprove">OK</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" class="empid" /> 
    <input type="hidden" class="leavetype" /> 
    <input type="hidden" class="EmpLeaveappID" />
    <input type="hidden" class="Cancel_Leavetypeid"/>
    <input type="hidden" class="Cancel_empid"/>
    <input type="hidden" class="Cancel_Date"/>
</section>


