@model IEnumerable<XoneHR.Models.DocumentDetails>
@{
    ViewBag.Title = "DocumentsLisTablewise";
    Layout = null;
}

@foreach (var item in Model)
{

    <tr>
        <td>
            @item.DocTypName
        </td>
        <td>
            @item.DocStypName
        </td>
        <td>
            <a href="@item.DocFiles" target="_blank" class="btn btn-primary fa fa-download">
                <i></i>
            </a>
        </td>
    </tr>

}
