@model IEnumerable<XoneHR.Models.TblEmployeHistory>
@{
    ViewBag.Title = "EmployerHistoryList";
    Layout = null;
}


@foreach (var item in Model)
{


   
    <tr>
        <td>@item.EmphEmployer</td>
        <td>@item.EmphStartDate.ToString("dd-MM-yyyy") - @item.EmphEndDate.ToString("dd-MM-yyyy")</td>
        <td>@item.EmphSalryLast</td>
        <td></td>
    </tr>
   





}

