@{
    ViewBag.Title = "AddNew";
    Layout = null;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () { 

        $("#createsave").click(function () {

            $.validator.addMethod("check_item_dropdown", function (value, element) {
                return this.optional(element) || value != -1;
            }, "Please select an item from the dropdown list.");

            $('#addnewform').validate({

                rules: {
                    DepUserTyp: {
                        required: true,
                        check_item_dropdown : true
                    }
                }
            });
            if ($('#addnewform').valid()) {
                $.ajax({
                    type:"POST",
                    url: "/DepartmentMaster/Create",
                    data: $("#addnewform").serialize()
                }).done(function (data) {

                    if (data.Result > 0) {
                        $("#AddnewModal").modal("hide");
                        List();
                    }
                        $.toast({
                            text:data.Message,
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                      })
                                         
                });
            }
        });

    })

</script>

<div class="modal-dialog" role="document">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add New Department</h4>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <form class="projectadding form-horizontal col-sm-12" id="addnewform" novalidate>
                <div class="form-group">
                    <label for="UserType" class="col-sm-3 control-label">User Type</label>
                    <div class="col-sm-8">
                        <select class="form-control required" id="DepUserTyp" name="DepUserTyp">
                            <option value="-1">--Select--</option>
                            <option value="0">Application</option>
                            <option value="1">Employee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepName" class="col-sm-3 control-label">Department</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control required" autocomplete="off" id="DepName" name="DepName">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer text-right">
            <button type="button" class="btn btn-default" id="createsave">Save</button>
            <button type="button" class="btn btn-default greybtn" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
