@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {

        GetProject();       

        $("#ProjID").change(function (data) {
                       
            $.ajax({

                type: "GET",
                url: "/SheduleWiseEmpDetails/GetMonths",
                data: { ProjID: $("#ProjID").val() },
                async: false
            }).done(function (data) {

                $("#month").empty();
                $("#month").append('<option value="0">Month</option>').selectpicker('refresh');

                $.each(data, function (i, item) {

                    $("#month").append('<option value=' + item.Id + '>' + item.Name + '</option>').selectpicker('refresh');;
                });
            });
            
            //var ddlBox = $("#ShiftID");

            //$.ajax({

            //    type: "GET",
            //    url: "/SheduleWiseEmpDetails/GetShifts",
            //    data: { ProjID: $("#ProjID").val() },
            //    async: false
            //}).done(function (data) {

            //    ddlBox.empty();
            //    ddlBox.append('<option value="0">Select</option>').selectpicker('refresh');

            //    $.each(data, function (i, item) {

            //        ddlBox.append('<option value=' + item.ShiftID + '>' + item.ShiftName + '</option>').selectpicker('refresh');;
            //    });
            //});

        })

        $("#btnshow").click(function (data) {

            $.ajax({

                type: "GET",
                url: "/SheduleWiseEmpDetails/ListSchedules",
                data: { ProjID: $("#ProjID").val(), month: $("#month").val() }
            }).done(function (data) {
                $("#List").html(data);
            });

        });

        //$(".btnEmpWise").click(function () {
        $(document).on('click', '.btnEmpWise', function () {
            var schid = $(this).attr('data-id');
            $.ajax({

                type: "GET",
                url: "/SheduleWiseEmpDetails/ListEmployees",
                data: { SchID: schid }
            }).done(function (data) {
               
                $("#EmpDetailsModal").html(data);
                $("#EmpDetailsModal").modal("show");
            });

        });

        //$(".btnshowoffs").click(function () {
        $(document).on("click", '.btnshowoffs', function () {

            $.ajax({
                type: "GET",
                url: "/SheduleWiseEmpDetails/GetSchedule",
                data: { SchID: $("#SchID").val() }
            }).done(function (data) {
                $("#txtschedule").html(data);
            });
           
            $.ajax({
                type: "GET",
                url: "/SheduleWiseEmpDetails/ListOFFs",
                data: { SchID: $("#SchID").val(), Empid: $(this).attr('data-Empid') }
            }).done(function (data) {
                
                $("#OFFdays").html(data);
                $("#OFFModal").modal("show");
            });
          
        });

        $(document).on("click", '.btnshowleaves', function () {
            $.ajax({
                type: "GET",
                url: "/SheduleWiseEmpDetails/ListLeaves",
                data: { SchID: $("#SchID").val(), Empid: $(this).attr('data-Empid') }
            }).done(function (data) {

                $("#LeaveTypes").html(data);
                $("#LeaveModal").modal("show");
            });
        });

    });
</script>

<script>

    function List() {
                
        $.ajax({

            type: "GET",
            url: "/SheduleWiseEmpDetails/ListSchedules",
        }).done(function (data) {
            $("#List").html(data);
        });
    }

    function GetProject() {

        var ddlBox = $("#ProjID");

        $.ajax({

            type: "GET",
            url: "/SheduleWiseEmpDetails/GetProjects",
            async: false
        }).done(function (data) {

            ddlBox.empty();
            ddlBox.append('<option value="0">Project</option>').selectpicker('refresh');

            $.each(data, function (i, item) {

                ddlBox.append('<option value=' + item.ProjID + '>' + item.ProjName + '</option>').selectpicker('refresh');;
            });
        });
    }

   
  
</script>

<section class="content-header">
    <h1>
        <i class="fa fa-book"></i>&nbsp;
        Shedule Wise Forecasting
    </h1>   
</section>

<section class="newforms">

    <div class="modal-body offerpop">
        <div class="offerLetter">
            <div class="col-sm-12">

                <div class="salman">
                    <select class="form-control fil required" id="ProjID" name="ProjID"></select>
                    <select class="form-control fil required" id="month" name="month"></select>
                    @*<select class="form-control fil required" id="ShiftID" name="ShiftID">
                            <option>Mrng</option>
                            <option>Night</option>
                        </select>*@
                    <input type="button" value="Filter" id="btnshow" class="form-control fil" />
                </div>

                <div id="List"></div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="EmpDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    </div>

    <div id="OFFModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>    
                    <p class="deleteconfirm">OFF Days Of <span class="text-primary" id="txtschedule"></span></p>               
                </div>
                <div class="modal-body">
                    <table border="0">
                        <tbody id="OFFdays"></tbody>
                    </table>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div id="LeaveModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="deleteconfirm">Leave Types<span class="text-primary" id=""></span></p>
                </div>
                <div class="modal-body">
                    <table border="0" class="table table-bordered table-hover">
                        <thead>
                            <tr><th>Leave Type</th><th>Leaves</th></tr>
                        </thead>
                        <tbody id="LeaveTypes"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</section>






