@{
    ViewBag.Title = "Index";
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}

<script type="text/javascript">

    function UserList(UserType) {
        $.ajax({

            type: "GET",
            url: "/ApplicationUser/AppUserList",
            data: { UserType: UserType }
        }).done(function (data) {

            $("#UserList").html(data);
        });
    }

    $(document).ready(function () {

        UserList(0);
        $("#StatusFilterID").change(function () {
            UserList($(this).val());
        });

        $(document).on("click", ".btndelete", function () {

            $("#HidAppUID").val($(this).attr("data-id"));
            $("#UserNameDelete").text($(this).attr("data-name"));
            $("#DeleteModal").modal("show");
        });

        $("#deletesave").click(function () {

            $.ajax({
                type:"POST",
                url: "/ApplicationUser/Delete",
                data: { AppUID: $("#HidAppUID").val() }

            }).done(function (data) {
                if (data > 0) {
                    $("#DeleteModal").modal("hide");
                    UserList(0);
                    $.toast({
                        text: "Deleted Successfully",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
                else {
                    $.toast({
                        text: "Deleting Failed",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
            });
        });

    })
</script>

<section class="content-header">
    <h1>
        <i class="fa fa-book"></i>&nbsp;
        User List
    </h1>
@*@if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Create).Select(m => m.UserPermiStatus).SingleOrDefault())
{*@
    <ol class="breadcrumb">
        <li><a href="/ApplicationUser/Create"><i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol>
@*}*@    
</section>

@*<div class="p-l-15 p-r-15 p-t-15">
    <select aria-controls="example1" class="form-control" id="StatusFilterID">
        <option value="0">All</option>
        <option value="1">Application Type User</option>
        <option value="2">Employee Type User</option>
        <option value="3">Organization Type User</option>
    </select>
</div>*@

<div id="UserList"></div>

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="HidAppUID" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p class="deleteconfirm">Are you sure want to delete <span class="text-primary" id="UserNameDelete"></span>?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deletesave">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>