@model IEnumerable<XoneHR.Models.PLRDExpiryLists>
@{
    ViewBag.Title = "GetPLRDExpiryList";
    Layout = null;
}



    <a href="#" title="PLRD Expiry" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-warning">@Model.Count()</span>
</a>
    

<ul class="dropdown-menu">
    <li class="header">@Model.Count() PLRDExpiry </li>
    <li>

        <ul class="menu">

            @foreach (var item in Model)
            {

                <li>
                    <a href="#">
                        <i class="fa fa-users text-aqua"></i> @item.CandName
                    </a>
                </li>
            }

        </ul>
    </li>

    <li class="footer">
        <a href="/DashBoard/PLRDExpiryList">View all</a>
    </li>

</ul>


