
@{
    ViewBag.Title = "Index";
}

<script src="~/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/angular-datatables.min.js"></script>
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/assets/global/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script src="~/assets/global/plugins/Toast/src/jquery.toast.js"></script>
<script src="~/Scripts/AngularScripts/Skillset.js"></script>


<div ng-app="SkillsetApp">
    <div ng-controller="SkillsetCntrl">
        <h3 class="page-title">
            Skillsets
            <small>Manage Skillsets</small>
        </h3>
        <a data-toggle="modal" class="btn btn-sm green mrb20" ng-click="NewAddBtn()"> Add New <i class="fa fa-plus"></i> </a>

        <div class="portlet-body mt20">
            <table id="entry-grid" datatable dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-hover table-bordered"></table>
        </div>

        <div class="modal fade" id="Addnew" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="portlet-body form">

                            <form class="form-horizontal" action="#" id="skillForm" name="skillForm" ng-submit="AddNewSave()">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Add New Skill sets</h4>
                                </div>

                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Name *</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="SkillName" name="SkillName" placeholder="Name" maxlength="30" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Description </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="Description" name="Description" placeholder="Description" maxlength="30" autocomplete="off" >
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn green" >Save</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        <div class="modal fade" id="Editskillsets" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="portlet-body form">

                            <form class="form-horizontal" action="#" id="SkillFormEdit" ng-submit="EditSkillBtn()">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Edit Skill Sets</h4>
                                </div>

                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Name *</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="SkillName_edit" name="SkillName_edit" placeholder="Language" maxlength="30" autocomplete="off" required>
                                            <input type="hidden" ng-model="SkillID" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Description </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" ng-model="Description_edit" name="Description_edit" placeholder="Description" maxlength="30" autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn green">Save</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        <div class="modal fade" id="Delete" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <form class="form-horizontal" name="DeleteForm" role="form" ng-submit="DeleteSkillset()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Delete Skillset</h4>
                        </div>
                        <div class="modal-body">
                            Do You Want to Delete this Item ? <label><b> {{DeleteSkilset}}</b></label>
                            <input type="hidden" ng-model="" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn danger">Delete</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

