@{
    ViewBag.Title = "Calendersummary";
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" href="~/plugins/fullcalendar/fullcalendar.print.css" media="print">
<script src="~/plugins/fullcalendar/fullcalendar.min.js"></script> 

<script>

    $(function () {

        

            /* initialize the external events
           -----------------------------------------------------------------*/
            function ini_events(ele) {

                ele.each(function () {

                    // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).title()) // use the element's text as the event title
                    };

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject);

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    });

                });
            }
            ini_events($('#external-events div.external-event'));

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date();
            var d = date.getDate(),
                    m = date.getMonth(),
                    y = date.getFullYear();
            $('#calendar').fullCalendar({
                //header: {
                //    left: 'prev,next today',
                //    center: 'title',
                //    right: 'month,agendaWeek,agendaDay'
                //},
                //buttonText: {
                //    today: 'today',
                //    month: 'month'
                //    //week: 'week',
                //    //day: 'day'
                //},
                eventMouseover: function (data, event, view) {

                    tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#feb811;position:absolute;z-index:10001;padding:10px 10px 10px 10px ;  line-height: 200%;">' + data.title + '</div>';


                    $("body").append(tooltip);
                    $(this).mouseover(function (e) {
                        $(this).css('z-index', 10000);
                        $('.tooltiptopicevent').fadeIn('500');
                        $('.tooltiptopicevent').fadeTo('10', 1.9);
                    }).mousemove(function (e) {
                        $('.tooltiptopicevent').css('top', e.pageY + 10);
                        $('.tooltiptopicevent').css('left', e.pageX + 20);
                    });


                },
                eventMouseout: function (data, event, view) {
                    $(this).css('z-index', 8);

                    $('.tooltiptopicevent').remove();

                },
                viewRender: function (view, element) {
                    $('#calendar').fullCalendar('gotoDate', $("#startdate").val());
                },

                //Random default events
                events: "/Payroll/GetCalendarEvents?year=" + $("#year").val() + "&month=" + $("#month").val() + "&EmpID=" + $("#HidempID").val() + "",
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar !!!
                eventRender: function (event, element) {
                    element.attr('title', event.tooltip);
                }
            });
            ///* ADDING EVENTS */
            //var currColor = "#3c8dbc"; //Red by default
            ////Color chooser button
            //var colorChooser = $("#color-chooser-btn");
            //$("#color-chooser > li > a").click(function (e) {
            //    e.preventDefault();
            //    //Save color
            //    currColor = $(this).css("color");
            //    //Add color effect to button
            //    $('#add-new-event').css({ "background-color": currColor, "border-color": currColor });
            //});
            //$("#add-new-event").click(function (e) {
            //    e.preventDefault();
            //    //Get value and make sure it is not null
            //    var val = $("#new-event").val();
            //    if (val.length == 0) {
            //        return;
            //    }

            //    //Create events
            //    var event = $("<div />");
            //    event.css({ "background-color": currColor, "border-color": currColor, "color": "#fff" }).addClass("external-event");
            //    event.html(val);
            //    $('#external-events').prepend(event);

            //    //Add draggable funtionality
            //    ini_events(event);

            //    //Remove event from text input
            //    $("#new-event").val("");
            //});

        });

    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fc-button").hide();

        $("#btnback").click(function () {
         
            var year = $("#year").val(); var month = $("#month").val(); var EmpID = $("#HidempID").val();
            window.location.href = '/Payroll/Summary?EmpID=' + EmpID + "&year=" + year + "&month=" + month;

        });

    });



    
</script>







<input type="hidden" value="@ViewBag.EmpID" id="HidempID" />
<input type="hidden" value="@ViewBag.FromDate" id="startdate" />
<input type="hidden" value="@ViewBag.month" id="month" />
<input type="hidden" value="@ViewBag.year" id="year" />


<ol class="breadcrumb" style="float:right;">
    <li><a href="#" id="btnback" ><i class=" fa fa-arrow-left"></i>&nbsp;&nbsp;Back &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
</ol>

<div class="col-md-10">
    <div class="box box-primary">
        <div class="box-body no-padding">
            <!-- THE CALENDAR -->
            <div id="calendar"></div>
        </div><!-- /.box-body -->
    </div><!-- /. box -->
</div>



