@{
    ViewBag.Title = "Index";
  //  var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />

<script type="text/javascript">
    function ListEmp() {
        $.ajax({

            type: "POST",
            url: "/Payroll/ListAllEmployees"

        }).done(function (data) {

            $("#EmployeeList").html(data);

        });
    }

    $(document).ready(function () {
        ListEmp();
                
        $(document).on("click", ".Payslip", function () {
            window.location.href = "/EmployeeSalarySlip/Index?EmpID=" + $(this).attr("data-empid");
        });

        $(document).on("click", ".summary", function () {

            window.location.href = "/Payroll/Summary?EmpID=" + $(this).attr("data-empid");
        });

    });

</script>


<section class="content-header">
    <h1>
        <i class="fa fa-users"></i>&nbsp;
        Payroll
    </h1>
</section>

<div id="EmployeeList"></div>