@model IEnumerable<XoneHR.Models.EmployeeDetails>
@{
    ViewBag.Title = "ListAllEmployees";
}

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">

    function ListEmployeeresult() {
        $.ajax({

            url: "/Payroll/ListEmployeeresult"

        }).done(function (data) {
            $("#ListEmployeeresult").html(data);
            $('#example2').DataTable();
        })
    }

    $(document).ready(function () {

        ListEmployeeresult();
    });

</script>


<section class="newforms">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th width="12% !important">Emp Code</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Grade</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="ListEmployeeresult"></tbody>
    </table>
</section>