@{
    ViewBag.Title = "OFFBoardingRequest";
}

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<script src="~/XoneScripts/Pages/Layout.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#StartDate').datetimepicker();
        $('#EndDate').datetimepicker();
     //   $('#ResignDate').datetimepicker();
               
        $('.leavepicker').datetimepicker({
            format: $("#HidDateFormat").val()
        });       

        $("#btnReq").click(function () {
           
            $("#OFFBoardingReqForm").validate({
                rules: {
                    StartDate: {
                        required: true,
                    },
                    EndDate: {
                        required: true,
                    }
                    //ResignDate: {
                    //    required: true
                    //}
                }
            });
            if ($("#OFFBoardingReqForm").valid()) {
                $.ajax({
                    type: "POST",
                    url: "/OFFBoarding/AddOFFBoardingRequest",
                    data: $("#OFFBoardingReqForm").serialize()

                }).done(function (data) {
                    if (data == 1) {
                        $.toast({

                            text: "Saved Successfully",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                        window.location.href = "/OFFBoarding/Index";
                    }
                    else {
                        $.toast({

                            text: "Application Error Please Contact Administrator!",
                            position: 'top-right',
                            hideAfter: 3000,
                            showHideTransition: 'slide',
                            loader: false,
                        })
                    }
                });
            }
        });

    });
</script>

<div class="modal-dialog" role="document" id="OFFBoardingRequest">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"> OFFBoarding Request</h3>
    </div>
    <div class="modal-content">
        <div class="modal-body">
            <form class="projectadding form-horizontal col-sm-12" id="OFFBoardingReqForm" novalidate="novalidate">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Notice Period Start</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control leavepicker" name="StartDate" id="StartDate" placeholder="Start Date">                      
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Notice Period End</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control leavepicker" name="EndDate" id="EndDate" placeholder="End Date">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Remark</label>
                    <div class="col-sm-6">
                        <textarea class="form-control " rows="3" name="Remark" placeholder="Remarks"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">&nbsp;</label>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success" id="btnReq">Save</button>
                    </div>
                </div>
                <input type="hidden" id="EmpId" value="@ViewBag.EmpId" name="EmpId" />
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>



