@{
    
    var Functionlist = XoneHR.Models.SessionManage.Current.PermitFunctions;
    
}
    <!-- jQuery 2.1.4 -->

<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />


<script type="text/javascript">
    $(document).ready(function () {
        List();
        $('#EditFrom').validate();
        function clearTextboxes() {
            $("#skillname").val("");
            $("#skilldesc").val("");
            $("#skillnameEdit").val("");
            $("#skilldescEdit").val("");
        }
        $(".addnew").click(function () {
            $.ajax({
                url: "/SkillSet/AddNew"
            }).done(function (data) {
                $("#AddnewModal").html(data);

            });
            clearTextboxes()
            $("#AddnewModal").modal("show");
        });
        $(document).on("click", ".btnedit", function () {
            $("label[for='skillnameEdit']").text('');
            clearTextboxes()
            $("#hidskillidedit").val($(this).attr("data-id"));
            $("#skillnameEdit").val($(this).attr("data-name"));
            $("#skilldescEdit").val($(this).attr("data-description"));
            if ($(this).attr("data-status") == "True") {
              
          
                $('#active').iCheck('check')
            }
            else
            {
                $('#inactive').iCheck('check')
            }
                $("#EditModal").modal("show");
        });

        $(document).on("click", ".btndelete", function () {
            
            $("#hidskilliddelete").val($(this).attr("data-id"));
            $("#DeleteModal").modal("show");
        });
   

        $("#editsave").click(function () {
            if ($('#EditFrom').valid()) {
                var status = 0;
                if ($('#active').is(':checked')) {
                    status = 1;
                } else {
                    status = 0;
                }
                $.ajax({
                    url: "/SkillSet/Edit",
                    data: { SkillId: $("#hidskillidedit").val(), skillname: $("#skillnameEdit").val(), skilldesc: $("#skilldescEdit").val(), status: status }

                }).done(function (data) {
                    if (data == 1) {
                        List();
                        $("#EditModal").modal("hide");
                        $.toast({
                            text: "Saved Successfully",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })
                    }
                    else if (data == 2) {
                        $.toast({
                            text: "Data Already Exists",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })

                    }
                    else {
                        $.toast({
                            text: "Save Failed",
                            position: 'top-right',
                            hideAfter: 2000,
                            showHideTransition: 'slide',
                            loader: false,

                        })
                    }

                });
            }
        });

        $("#deletesave").click(function () {

            $.ajax({
                url: "/SkillSet/Delete",
                data: { SkillId: $("#hidskilliddelete").val() }

            }).done(function (data) {
                if (data == 1) {
                    $("#DeleteModal").modal("hide");
                    List();
                    $.toast({
                        text: "Saved Successfully",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
                else {
                    $.toast({
                        text: "Save Failed",
                        position: 'top-right',
                        hideAfter: 2000,
                        showHideTransition: 'slide',
                        loader: false,

                    })
                }
            });
        });

       
        
    })
</script>

<script>
    function List() {
        $.ajax({
            url: "/SkillSet/List"
        }).done(function (data) {
            $("#Skilllist").html(data);
        });
    }
</script>

<section class="content-header">
    <h1>
        Skill Sets
    </h1>

  @if (Functionlist.Where(m => m.FunTypeID == XoneHR.Models.FunctionTypes.Create).Select(m => m.UserPermiStatus).SingleOrDefault())
  {
    <ol class="breadcrumb">
        <li><a href="" class="addnew" data-toggle="modal"><i class="fa fa-plus"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol>
  }
   
</section>
<section class="newforms">
  
    <div id="Skilllist"></div>

    <!-- Modal Add New -->
    <div class="modal fade" id="AddnewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      
    </div>
    
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modify Master</h4>
            </div>
            <div class="modal-content">
                <div class="modal-body">
                    <form class="projectadding form-horizontal col-sm-8" id="EditFrom">
                        <input type="hidden" id="hidskillidedit" />
                        <div class="form-group">
                            <label for="skillname_Edit" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control required" id="skillnameEdit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="skilldescEdit" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-8 input-group">
                                <input type="text" class="form-control" id="skilldescEdit">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-8">
                                <label>
                                    <input type="radio" name="statusradio" class="flat-red statusradio" id="active">
                                    Active
                                </label>
                                <label>
                                    <input type="radio" name="statusradio" class="flat-red statusradio" id="inactive">
                                    Disable
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">&nbsp;</label>
                            <div class="col-sm-8">
                                <button type="button" class="btn btn-default" id="editsave">Save</button>
                                <button type="button" class="btn btn-default greybtn" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="hidden" id="hidskilliddelete" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="deleteconfirm">Are you sure want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="deletesave">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>