@{ 
    ViewBag.Title = "Create";
}
<script src="~/plugins/Toast/src/jquery.toast.js"></script>
<link href="~/plugins/Toast/src/jquery.toast.css" rel="stylesheet" />
<style>
    ul {
        margin-left: 0px;
        list-style: none;
    }
</style>
<script type="text/javascript">
  
    $(document).ready(function() {
        var select = $("#DepID");
        select.empty();
        select.prepend('<option value=0>--Select--</option>');
        $.getJSON("/EmployeeDesignation/GetDepartment",
            function(response) {
                $.each(response, function(index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.DepID,
                        text: itemData.DepName
                    }));
                });
            });
        $("#BtnAddDesignation").click(function () {

            $.validator.addMethod("check_item_dropdown", function(value, element) {
                return this.optional(element) || value != 0;
            }, "Please select an item from the dropdown list.");
            $("#frmDesigCreation").validate({
                rules: {
                    DepID: {
                        check_item_dropdown: true,
                        required: true,
                    },
                }
            });
            if ($("#frmDesigCreation").valid()) {

                $('.nav-tabs > .active').next('li').find('a').trigger('click');

                $.ajax({
                    type: "Get",
                    url: "/EmployeeDesignation/DesignationAssignment",
                    data: { DesigID: $("#HidDesigID").val() }
                }).done(function (data) {
                    $("#DesigAssignment").html(data);
                })

            }
        });      
        
    });

</script>
<section class="content-header">
    <h1>
        <i class="fa fa-user-plus"></i>&nbsp;
        New Employee Designation
    </h1>
    <ol class="breadcrumb">
        <li><a href="/EmployeeDesignation/Index"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    </ol>
</section>
<section class="newforms">
    <div class="tabsnew">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="home" role="tab" data-toggle="tab">Designation</a></li>
            <li role="presentation" id="DesigAssignmenttab"><a href="#DesigAssignment" aria-controls="DesigAssignment" role="tab" data-toggle="tab">Designation Settings</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <form class="" action="#" id="frmDesigCreation">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Department</label>
                                <div class="col-sm-8">
                                    <select class="form-control required" name="DepID" id="DepID"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Designation</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control required" autocomplete="off" id="DesigName" name="DesigName" placeholder="Name">   
                                    <input type="hidden" id="HidDesigID" value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left">
                        @*<button type="button" class="btn btn-sm btn-success" id="BtnAddDesignation">Save & Continue <span>&nbsp;</span> <i class="fa fa-floppy-o"></i></button>*@
                        <button type="button" class="btn btn-sm btn-success" id="BtnAddDesignation">Next & Continue <span>&nbsp;</span> <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="DesigAssignment">
                
            </div>
        </div>
    </div>
</section>
