<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>
        With the jqxDropDownButton, you can display the jqxTree in a popup.
    </title>   
    <link href="~/jqwidgets/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqwidgets/jqwidgets/styles/jqx.metro.css" rel="stylesheet" />    
    <script src="~/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script src="~/jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script src="~/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script src="~/jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script src="~/jqwidgets/jqwidgets/jqxtree.js"></script>
    <script src="~/jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            // create jqxTree
            $('#jqxTree').jqxTree({ height: '400px', hasThreeStates: true, checkboxes: true, width: '330px' });
            $('#jqxTree').css('visibility', 'visible');
            $('#jqxCheckBox').jqxCheckBox({ width: '200px', height: '25px', checked: true });           
            $("#jqxTree").jqxTree('selectItem', $("#home")[0]);
        });
    </script>

</head>
<body class='default'>
    <div id='jqxWidget'>
        <div style='float: left;'>
            <div id='jqxTree' style='visibility: hidden; float: left; margin-left: 20px;'>
                <ul>                   
                    <li item-checked='true' item-expanded='true'>
                        Solutions
                        <ul>
                            <li>Education</li>
                            <li>Financial services</li>
                            <li>Government</li>
                            <li item-checked='false'>Manufacturing</li>
                            <li>
                                Solutions
                                <ul>
                                    <li>Consumer photo and video</li>
                                    <li>Mobile</li>
                                    <li>Rich Internet applications</li>
                                    <li>Technical communication</li>
                                    <li>Training and eLearning</li>
                                    <li>Web conferencing</li>
                                </ul>
                            </li>
                            <li>All industries and solutions</li>
                        </ul>
                    </li>
                    <li>
                        Products
                        <ul>
                            <li>PC products</li>
                            <li>Mobile products</li>
                            <li>All products</li>
                        </ul>
                    </li>
                    <li>
                        Support
                        <ul>
                            <li>Support home</li>
                            <li>Customer Service</li>
                            <li>Knowledge base</li>
                            <li>Books</li>
                            <li>Training and certification</li>
                            <li>Support programs</li>
                            <li>Forums</li>
                            <li>Documentation</li>
                            <li>Updates</li>
                        </ul>
                    </li>
                    <li>
                        Communities
                        <ul>
                            <li>Designers</li>
                            <li>Developers</li>
                            <li>Educators and students</li>
                            <li>Partners</li>
                            <li>
                                By resource
                                <ul>
                                    <li>Labs</li>
                                    <li>TV</li>
                                    <li>Forums</li>
                                    <li>Exchange</li>
                                    <li>Blogs</li>
                                    <li>Experience Design</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Company
                        <ul>
                            <li>About Us</li>
                            <li>Press</li>
                            <li>Investor Relations</li>
                            <li>Corporate Affairs</li>
                            <li>Careers</li>
                            <li>Showcase</li>
                            <li>Events</li>
                            <li>Contact Us</li>
                            <li>Become an affiliate</li>
                        </ul>
                    </li>
                </ul>
            </div>
            @*<div style='margin-left: 60px; float: left;'>
                <div style='margin-top: 10px;'>
                    <div id='jqxCheckBox'>Three Check States</div>
                </div>
            </div>*@
        </div>
    </div>
</body>
</html> 